.vc_custom_1651237882381 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1651723275803 {
    background-image: url(../../asset-3/uploads/2022/05/Group-13721-20ae5.png?id=30851) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.vc_custom_1645185590819 {
    border-top-width: 0px !important;
    border-top-color: #eaedf2 !important;
    border-top-style: solid !important;
}

.vc_custom_1647346971594 {
    background-image: url(../../asset-3/uploads/2021/11/ft_banner.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1644474593932 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    background-color: #1c1f22 !important;
}

.vc_custom_1651237797814 {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1646053440260 {
    background-color: #f7f7f7 !important;
}

.vc_custom_1651237825287 {
    padding-right: 120px !important;
    padding-left: 30px !important;
    background-color: #f7f7f7 !important;
}

.vc_custom_1645694694506 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.vc_custom_1647345690932 {
    padding-left: 35% !important;
}

.vc_custom_1647345928422 {
    padding-right: 90px !important;
    padding-left: 90px !important;
}

.vc_custom_1647346071172 {
    padding-right: 90px !important;
    padding-left: 90px !important;
}

.vc_custom_1647346104012 {
    padding-right: 90px !important;
    padding-left: 90px !important;
}

.vc_custom_1651722877552 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.vc_custom_1651722861040 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.vc_custom_1651722816659 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.vc_custom_1651723889265 {
    margin-top: -60px !important;
}

.vc_custom_1651723898375 {
    margin-bottom: -60px !important;
}

.vc_custom_1651723912353 {
    margin-top: -30px !important;
}

.vc_custom_1651723924864 {
    margin-top: -70px !important;
}

.vc_custom_1651723937815 {
    margin-top: -30px !important;
}

.vc_custom_1645612033167 {
    padding-top: 39% !important;
}

.vc_custom_1645855238740 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #ff0000 !important;
}

.vc_custom_1645855246771 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #1a1c1f !important;
}
