.textimg img {
    height: 15rem !important;
    width: auto !important;
}

.dark-scheme .textimg img {
    filter: invert(1) brightness(100);
}

.mobileside .wpb_wrapper {
    background-size: cover !important;
    background-blend-mode: multiply !important;
    background-position: right top;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover !important;
    height: 100%;
}

.scrollside .vc_column-inner {
    background-position: right top;
    background-repeat: repeat-x;

    background-attachment: fixed;
    background-size: contain !important;
    height: 100vh;
    background-repeat: no-repeat;
}

@media screen and (min-width: 2000px) {
    .taxtpls h3 {
        font-size: 54px !important;
    }
}
