   #ohio-custom-62fcedcb2e638 .btn {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb2e638 .btn:hover {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb2f207,
    #ohio-custom-62fcedcb2f207>* {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    #ohio-custom-62fcedcb2f23f,
    #ohio-custom-62fcedcb2f23f>* {
        font-size: 20px;
        line-height: 27px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb33cab .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb340ea .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb34497 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb34845 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb34c01 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb34fbb .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb35440 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb357df .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb35b88 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb35f3b .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb362c1 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb36612 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb3713a h3 {
        font-weight: 500;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb3751e,
    #ohio-custom-62fcedcb3751e>* {
        font-size: 34px;
    }

    #ohio-custom-62fcedcb38a5b,
    #ohio-custom-62fcedcb38a5b>* {
        font-weight: 400;
    }

    #ohio-custom-62fcedcb38acc .btn {
        background-color: #d90a2c;
        border-color: #d90a2c;
    }

    #ohio-custom-62fcedcb38acc .btn:hover {
        border-color: #d90a2c;
    }

    #ohio-custom-62fcedcb38f0c,
    #ohio-custom-62fcedcb38f0c>* {
        font-weight: 300;
    }

    #ohio-custom-62fcedcb38fbc .tabNav_link {
        font-size: 18px;
        line-height: 44px;
    }

    #ohio-custom-62fcedcb38fbc .tabNav .tabNav_line {
        background-color: #ff0000;
    }

    #ohio-custom-62fcedcb38fbc .tabNav_wrapper {
        border-color: #f7f7f7;
    }

    #ohio-custom-62fcedcb4b193,
    #ohio-custom-62fcedcb4b193>* {
        color: #0a0101;
    }

    #ohio-custom-62fcedcb4b1c8,
    #ohio-custom-62fcedcb4b1c8>* {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb4b7ec,
    #ohio-custom-62fcedcb4b7ec>* {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb4b815,
    #ohio-custom-62fcedcb4b815>* {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb4d4fc h3 {
        font-size: 65px;
    }

    #ohio-custom-62fcedcb4d60f .btn {
        border-color: #060422;
        color: #060422;
    }

    #ohio-custom-62fcedcb4d60f .btn:hover {
        color: #fff;
        background-color: #060422;
        border-color: #060422;
    }

    #ohio-custom-62fcedcb4d60f .btn {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb4d60f .btn:hover {
        color: #ffffff;
    }

    #ohio-custom-62fcedcb4d7d3>.clb-slider-outer-stage {
        margin: 0 -5%;
    }

    #ohio-custom-62fcedcb4d7d3>.clb-slider-outer-stage>.clb-slider-stage {
        left: 5%;
    }

    #ohio-custom-62fcedcb4d865 h4 {
        font-size: 32px;
        color: #000000;
    }

    #ohio-custom-62fcedcb4d865 p.subtitle {
        font-size: 19px;
        font-weight: 400;
        color: #3f3f41;
    }

    #ohio-custom-62fcedcb4d8b5 h4 {
        font-size: 32px;
        color: #000000;
    }

    #ohio-custom-62fcedcb4d8b5 p.subtitle {
        font-size: 19px;
        font-weight: 400;
        color: #3f3f41;
    }

    #ohio-custom-62fcedcb4d8fe h4 {
        font-size: 32px;
        color: #000000;
    }

    #ohio-custom-62fcedcb4d8fe p.subtitle {
        font-size: 19px;
        font-weight: 400;
        color: #3f3f41;
    }

    #ohio-custom-62fcedcb4d946 h4 {
        font-size: 32px;
        color: #000000;
    }

    #ohio-custom-62fcedcb4d946 p.subtitle {
        font-size: 19px;
        font-weight: 400;
        color: #3f3f41;
    }

    #ohio-custom-62fcedcb4d9a8 h4 {
        font-size: 32px;
        color: #000000;
    }

    #ohio-custom-62fcedcb4d9a8 p.subtitle {
        font-size: 19px;
        font-weight: 400;
        color: #3f3f41;
    }

    #ohio-custom-62fcedcb4d9f2 h4 {
        font-size: 32px;
        color: #000000;
    }

    #ohio-custom-62fcedcb4d9f2 p.subtitle {
        font-size: 19px;
        font-weight: 400;
        color: #3f3f41;
    }

    #ohio-custom-62fcedcb4dd5b .btn {
        border-color: #060422;
        color: #060422;
    }

    #ohio-custom-62fcedcb4dd5b .btn:hover {
        color: #fff;
        background-color: #060422;
        border-color: #060422;
    }

    #ohio-custom-62fcedcb4dd5b .btn {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb4dd5b .btn:hover {
        color: #ffffff;
    }

    #ohio-custom-62fcedcb4f6c5,
    #ohio-custom-62fcedcb4f6c5>* {
        font-size: 21px;
        color: #7A7B7C;
    }

    #ohio-custom-62fcedcb4f6e9 h3 {
        font-size: 41px;
        font-weight: 600;
    }

    #ohio-custom-62fcedcb4f788,
    #ohio-custom-62fcedcb4f788>* {
        font-size: 17px;
        line-height: 21px;
    }

    #ohio-custom-62fcedcb4f940 h5 {
        font-size: 24px;
        font-weight: 600;
    }

    #ohio-custom-62fcedcb4f974,
    #ohio-custom-62fcedcb4f974>* {
        font-weight: 500;
    }

    #ohio-custom-62fcedcb503e2 .btn {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb503e2 .btn:hover {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb503e2 .btn {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb503e2 .btn:hover {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb52268 h5 {
        font-size: 24px;
        font-weight: 600;
    }

    #ohio-custom-62fcedcb522a8,
    #ohio-custom-62fcedcb522a8>* {
        font-weight: 500;
    }

    #ohio-custom-62fcedcb52d06 .btn {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb52d06 .btn:hover {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb52d06 .btn {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb52d06 .btn:hover {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb534c6 h5 {
        font-size: 24px;
        font-weight: 600;
    }

    #ohio-custom-62fcedcb53504,
    #ohio-custom-62fcedcb53504>* {
        font-weight: 400;
    }

    #ohio-custom-62fcedcb54126 .btn {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb54126 .btn:hover {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb54126 .btn {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb54126 .btn:hover {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb54cc1,
    #ohio-custom-62fcedcb54cc1>* {
        font-weight: 500;
    }

    #ohio-custom-62fcedcb54cf4,
    #ohio-custom-62fcedcb54cf4>* {
        font-weight: 500;
    }

    #ohio-custom-62fcedcb54e1f,
    #ohio-custom-62fcedcb54e1f>* {
        font-size: 25px;
        font-weight: 400;
    }

    #ohio-custom-62fcedcb5555e,
    #ohio-custom-62fcedcb5555e>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb5558d,
    #ohio-custom-62fcedcb5558d>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb555b1,
    #ohio-custom-62fcedcb555b1>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb555d2,
    #ohio-custom-62fcedcb555d2>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb559d1,
    #ohio-custom-62fcedcb559d1>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb55a08,
    #ohio-custom-62fcedcb55a08>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb55a2d,
    #ohio-custom-62fcedcb55a2d>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb55a9c,
    #ohio-custom-62fcedcb55a9c>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb55e61,
    #ohio-custom-62fcedcb55e61>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb55e91,
    #ohio-custom-62fcedcb55e91>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb55eb4,
    #ohio-custom-62fcedcb55eb4>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb55f1b,
    #ohio-custom-62fcedcb55f1b>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb5627c .btn {
        background-color: #d90a2c;
        border-color: #d90a2c;
    }

    #ohio-custom-62fcedcb5627c .btn:hover {
        border-color: #d90a2c;
    }

    #ohio-custom-62fcedcb5627c .btn {
        color: #ffffff;
    }

    #ohio-custom-62fcedcb5627c .btn:hover {
        color: #0a0a0a;
    }

    #ohio-custom-62fcedcb56674,
    #ohio-custom-62fcedcb56674>* {
        font-weight: 400;
    }

    #ohio-custom-62fcedcb566e2>.clb-slider-outer-stage {
        margin: 0 -10px;
    }

    #ohio-custom-62fcedcb566e2>.clb-slider-outer-stage>.clb-slider-stage {
        left: 10px;
    }

    #ohio-custom-62fcedcb56aff.video-module .btn-play:before,
    #ohio-custom-62fcedcb56aff.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb56aff.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb56aff.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb56aff.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb56aff.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb56aff.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb56f29.video-module .btn-play:before,
    #ohio-custom-62fcedcb56f29.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb56f29.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb56f29.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb56f29.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb56f29.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb56f29.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb59abb.video-module .btn-play:before,
    #ohio-custom-62fcedcb59abb.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb59abb.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb59abb.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb59abb.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb59abb.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb59abb.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb59be2.video-module .btn-play:before,
    #ohio-custom-62fcedcb59be2.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb59be2.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb59be2.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb59be2.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb59be2.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb59be2.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb59cdc.video-module .btn-play:before,
    #ohio-custom-62fcedcb59cdc.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb59cdc.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb59cdc.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb59cdc.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb59cdc.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb59cdc.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb59ddd.video-module .btn-play:before,
    #ohio-custom-62fcedcb59ddd.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb59ddd.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb59ddd.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb59ddd.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb59ddd.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb59ddd.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb59ebe.video-module .btn-play:before,
    #ohio-custom-62fcedcb59ebe.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb59ebe.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb59ebe.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb59ebe.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb59ebe.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb59ebe.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb5a0ed h4 {
        font-size: 56px;
        line-height: 60px;
    }

    #ohio-custom-62fcedcb5a0ed p.subtitle {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
    }

    #ohio-custom-62fcedcb5b96b.counter-box .counter-box-count {
        font-size: 46px;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb5b96b.counter-box .counter-box-icon {
        color: #ffffff;
    }

    #ohio-custom-62fcedcb5b96b.counter-box .counter-box-headline {
        font-size: 17px;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb5ba26.counter-box .counter-box-count {
        font-size: 46px;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb5ba26.counter-box .counter-box-headline {
        font-size: 17px;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb5bd39 h2 {
        color: #ffffff;
    }

    #ohio-custom-62fcedcb5bd39 p.subtitle {
        color: #A4A3A6;
        text-transform: uppercase;
    }

    #ohio-custom-62fcedcb5be29 .btn {
        background-color: #ff0000;
        border-color: #ff0000;
    }

    #ohio-custom-62fcedcb5be29 .btn:hover {
        border-color: #ff0000;
    }

    #ohio-custom-62fcedcb5c037,
    #ohio-custom-62fcedcb5c037>* {
        font-size: 17px;
        line-height: 28px;
        color: #f9f9f9;
    }
