  .vc_custom_1650434801706 {
        margin-top: 150px !important;
        background-image: url(../../asset-3/uploads/2022/04/how-it-work-hero.jpg) !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    .vc_custom_1650444103589 {
        padding-top: 200px !important;
        padding-bottom: 100px !important;
    }

    .vc_custom_1650444092879 {
        padding-top: 100px !important;
        padding-bottom: 200px !important;
    }

    .vc_custom_1650444103589 {
        padding-top: 200px !important;
        padding-bottom: 100px !important;
    }

    .vc_custom_1650444092879 {
        padding-top: 100px !important;
        padding-bottom: 200px !important;
    }

    .vc_custom_1650978071237 {
        padding-top: 200px !important;
        background-color: #f4f7fa !important;
    }

    .vc_custom_1648468832378 {
        padding-top: 100px !important;
        background-color: #f4f7fa !important;
    }

    .vc_custom_1650445934859 {
        padding-top: 15px !important;
        padding-bottom: 0px !important;
        background-color: #f4f7fa !important;
    }

    .vc_custom_1650427954390 {
        padding-top: 15px !important;
        padding-bottom: 100px !important;
        background-color: #f4f7fa !important;
    }

    .vc_custom_1650446059034 {
        margin-bottom: 20px !important;
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .vc_custom_1644474593932 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
        background-color: #1c1f22 !important;
    }

    .vc_custom_1650444654318 {
        background-image: url(../../asset-3/uploads/2022/04/COMPANY.jpg) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .vc_custom_1650444970832 {
        margin-left: 20px !important;
        background-image: url(../../asset-3/uploads/2022/04/COMPANYY.jpg) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .vc_custom_1644314460063 {
        margin: 0px !important;
        padding: 0px !important;
        border: 0px initial !important;
    }

    .vc_custom_1647836995539 {
        margin: 0px !important;
        padding: 40px !important;
        background-color: #ffffff !important;
        border-radius: 25px !important;
    }

    .vc_custom_1647837017844 {
        padding: 40px !important;
        background-color: #ffffff !important;
        border-radius: 25px !important;
    }

    .vc_custom_1647837033779 {
        padding: 40px !important;
        background-color: #ffffff !important;
        border-radius: 25px !important;
    }

    .vc_custom_1647837080080 {
        margin: 0px !important;
        padding: 40px !important;
        background-color: #ffffff !important;
        border-radius: 25px !important;
    }

    .vc_custom_1647837094861 {
        padding: 40px !important;
        background-color: #ffffff !important;
        border-radius: 25px !important;
    }

    .vc_custom_1647837109111 {
        padding: 40px !important;
        background-color: #ffffff !important;
        border-radius: 25px !important;
    }

    .vc_custom_1647837080080 {
        margin: 0px !important;
        padding: 40px !important;
        background-color: #ffffff !important;
        border-radius: 25px !important;
    }

    .vc_custom_1647837094861 {
        padding: 40px !important;
        background-color: #ffffff !important;
        border-radius: 25px !important;
    }

    .vc_custom_1647837109111 {
        padding: 40px !important;
        background-color: #ffffff !important;
        border-radius: 25px !important;
    }

    .vc_custom_1650428080861 {
        margin-top: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        padding-top: 40px !important;
        padding-right: 40px !important;
        padding-bottom: 40px !important;
        padding-left: 40px !important;
        background-color: #38326c !important;
        border-radius: 5px !important;
    }

    .vc_custom_1645612033167 {
        padding-top: 39% !important;
    }

    .vc_custom_1645855238740 {
        padding-top: 12.3% !important;
        padding-right: 40px !important;
        padding-bottom: 12.3% !important;
        padding-left: 40px !important;
        background-color: #ff0000 !important;
    }

    .vc_custom_1645855246771 {
        padding-top: 12.3% !important;
        padding-right: 40px !important;
        padding-bottom: 12.3% !important;
        padding-left: 40px !important;
        background-color: #1a1c1f !important;
    }
