#ohio-custom-62fcedcd9a8ff h1 {
    font-size: 83px;
    line-height: 85px;
    font-weight: 700;
}

#ohio-custom-62fcedcd9a8ff p.subtitle {
    font-size: 25px;
    line-height: 33px;
    font-weight: 200;
}

#ohio-custom-62fcedcd9a9b2 .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedcd9a9b2 .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fcedcd9b31f .content_box_container {
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
    border-left-color: #cdd2d8 !important;
    border-left-style: solid !important;
    border-right-color: #cdd2d8 !important;
    border-right-style: solid !important;
    border-top-color: #cdd2d8 !important;
    border-top-style: solid !important;
    border-bottom-color: #cdd2d8 !important;
    border-bottom-style: solid !important;
}

#ohio-custom-62fcedcd9b31f.ohio-content_box-sс:hover>.content_box_container {
    border-top-color: #cdd2d8 !important;
    border-bottom-color: #cdd2d8 !important;
    border-right-color: #cdd2d8 !important;
}

#ohio-custom-62fcedcd9b31f.ohio-content_box-sс>.content_box_container:before {
    background-color: #cdd2d8 !important;
}

#ohio-custom-62fcedcd9b31f.ohio-content_box-sс .content_box_container:before {
    width: 1px !important;
}

#ohio-custom-62fcedcd9b3a4,
#ohio-custom-62fcedcd9b3a4>* {
    font-size: 26px;
    line-height: 38px;
    font-weight: 200;
}

#ohio-custom-62fcedcd9d87f .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9dc0a .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9df82 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9e2cf .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9e6a6 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9e9f3 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9edfe .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9f144 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9f478 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9f78a .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9fa7c .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd9feda .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcda03cc h2 {
    font-size: 43px;
    font-weight: 500;
}

#ohio-custom-62fcedcda2815,
#ohio-custom-62fcedcda2815>* {
    font-weight: 400;
}

#ohio-custom-62fcedcda28ce .tabNav_link {
    font-size: 18px;
    line-height: 44px;
}

#ohio-custom-62fcedcda28ce .tabNav .tabNav_line {
    background-color: #ff0000;
}

#ohio-custom-62fcedcda28ce .tabNav_wrapper {
    border-color: #f7f7f7;
}

#ohio-custom-62fcedcdac253 h2 {
    font-weight: 600;
}

#ohio-custom-62fcedcdac253 p.subtitle {
    font-size: 21px;
    line-height: 28px;
    font-weight: 400;
}

#ohio-custom-62fcedcdac253 .subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

#ohio-custom-62fcedcdac58d>.clb-slider-outer-stage {
    margin: 0 -0px;
}

#ohio-custom-62fcedcdac58d>.clb-slider-outer-stage>.clb-slider-stage {
    left: 0px;
}

#ohio-custom-62fcedcdac635 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedcdac635 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedcdac686 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedcdac686 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedcdac6ce h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedcdac6ce p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedcdac714 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedcdac714 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedcdac759 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedcdac759 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedcdacd2d h4 {
    font-size: 41px;
    line-height: 45px;
    font-weight: 500;
}

#ohio-custom-62fcedcdacd2d p.subtitle {
    font-size: 19px;
    line-height: 20px;
    font-weight: 400;
}

#ohio-custom-62fcedcdacd2d .subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

#ohio-custom-62fcedcdace56,
#ohio-custom-62fcedcdace56>* {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
}

#ohio-custom-62fcedcdacf05>.clb-slider-outer-stage {
    margin: 0 -5%;
}

#ohio-custom-62fcedcdacf05>.clb-slider-outer-stage>.clb-slider-stage {
    left: 5%;
}

#ohio-custom-62fcedcdad087,
#ohio-custom-62fcedcdad087>* {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedcdad0c6,
#ohio-custom-62fcedcdad0c6>* {
    font-weight: 700;
    color: #ffffff;
}

#ohio-custom-62fcedcdad347 .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedcdad347 .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedcdad347 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcdad8ed,
#ohio-custom-62fcedcdad8ed>* {
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedcdad91b,
#ohio-custom-62fcedcdad91b>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdadb9c .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedcdadb9c .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedcdadb9c .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcdae110,
#ohio-custom-62fcedcdae110>* {
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedcdae144,
#ohio-custom-62fcedcdae144>* {
    font-weight: 700;
    color: #ffffff;
}

#ohio-custom-62fcedcdae215 .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedcdae215 .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedcdae215 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcdae76b,
#ohio-custom-62fcedcdae76b>* {
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedcdae799,
#ohio-custom-62fcedcdae799>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdaeafe .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedcdaeafe .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedcdaeafe .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcdaf091,
#ohio-custom-62fcedcdaf091>* {
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedcdaf0d8,
#ohio-custom-62fcedcdaf0d8>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdaf1aa .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedcdaf1aa .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedcdaf1aa .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcdaf713,
#ohio-custom-62fcedcdaf713>* {
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedcdaf742,
#ohio-custom-62fcedcdaf742>* {
    font-weight: 700;
    color: #ffffff;
}

#ohio-custom-62fcedcdaf822 .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedcdaf822 .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedcdaf822 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcdb01a8 h4 {
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

#ohio-custom-62fcedcdb01a8 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedcdb02f2>.clb-slider-outer-stage {
    margin: 0 -30px;
}

#ohio-custom-62fcedcdb02f2>.clb-slider-outer-stage>.clb-slider-stage {
    left: 30px;
}

#ohio-custom-62fcedcdb0678,
#ohio-custom-62fcedcdb0678>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcdb06d1,
#ohio-custom-62fcedcdb06d1>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdb0a8f,
#ohio-custom-62fcedcdb0a8f>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcdb0ad4,
#ohio-custom-62fcedcdb0ad4>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdb0e03,
#ohio-custom-62fcedcdb0e03>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcdb0e49,
#ohio-custom-62fcedcdb0e49>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdb1184,
#ohio-custom-62fcedcdb1184>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcdb11c9,
#ohio-custom-62fcedcdb11c9>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdb14db,
#ohio-custom-62fcedcdb14db>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcdb1520,
#ohio-custom-62fcedcdb1520>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdb182f,
#ohio-custom-62fcedcdb182f>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcdb1874,
#ohio-custom-62fcedcdb1874>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdb1b72,
#ohio-custom-62fcedcdb1b72>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcdb1bcc,
#ohio-custom-62fcedcdb1bcc>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdb1eff,
#ohio-custom-62fcedcdb1eff>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcdb1f47,
#ohio-custom-62fcedcdb1f47>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdb22a3,
#ohio-custom-62fcedcdb22a3>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcdb22fa,
#ohio-custom-62fcedcdb22fa>* {
    color: #ffffff;
}

#ohio-custom-62fcedcdb28c0 h4 {
    font-size: 56px;
    line-height: 60px;
}

#ohio-custom-62fcedcdb28c0 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fcedcdb4051.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedcdb4051.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fcedcdb4051.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedcdb40fe.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedcdb40fe.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedcdb4403 h2 {
    color: #ffffff;
}

#ohio-custom-62fcedcdb4403 p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fcedcdb44e7 .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedcdb44e7 .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fcedcdb4855,
#ohio-custom-62fcedcdb4855>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}

#ohio-custom-62fcedc95a72e .icon-box-icon-1 {
    color: #d90a2c;
    background-color: #44409a;
    border-radius: 0%;
}

