#ohio-custom-62fceddcd048b .btn {
    border-color: #653499;
    color: #653499;
}

#ohio-custom-62fceddcd048b .btn:hover {
    color: #fff;
    background-color: #653499;
    border-color: #653499;
}

#ohio-custom-62fceddcd0a7e,
#ohio-custom-62fceddcd0a7e>* {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fceddcd0aad,
#ohio-custom-62fceddcd0aad>* {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

#ohio-custom-62fceddcd126a h3 {
    color: #ffffff;
}

#ohio-custom-62fceddcd15f6,
#ohio-custom-62fceddcd15f6>* {
    font-size: 34px;
}

#ohio-custom-62fceddcd2123 .btn {
    background-color: #41b883;
    border-color: #41b883;
}

#ohio-custom-62fceddcd2123 .btn:hover {
    border-color: #41b883;
}

#ohio-custom-62fceddcd26a1 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd29a6 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd2cea .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd3030 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd335d .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd3688 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd3a87 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd3d7d .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd4088 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd43c7 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd469e .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd494d .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddcd4f58 .btn {
    border-color: #653499;
    color: #653499;
}

#ohio-custom-62fceddcd4f58 .btn:hover {
    color: #fff;
    background-color: #653499;
    border-color: #653499;
}

#ohio-custom-62fceddcd4f58 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddcd57e5 .icon-box-icon {
    color: #d90a2c;
    background-color: #653499;
}

#ohio-custom-62fceddcd582e,
#ohio-custom-62fceddcd582e>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddcd5c8d .icon-box-icon {
    color: #d90a2c;
    background-color: #653499;
}

#ohio-custom-62fceddcd5cc5,
#ohio-custom-62fceddcd5cc5>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddcd6101 .icon-box-icon {
    color: #d90a2c;
    background-color: #653499;
}

#ohio-custom-62fceddcd613a,
#ohio-custom-62fceddcd613a>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddcd6737 .icon-box-icon {
    color: #d90a2c;
    background-color: #653499;
}

#ohio-custom-62fceddcd6770,
#ohio-custom-62fceddcd6770>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddcd6b24 .icon-box-icon {
    color: #d90a2c;
    background-color: #653499;
}

#ohio-custom-62fceddcd6b5a,
#ohio-custom-62fceddcd6b5a>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddcd6ee4 .icon-box-icon {
    color: #d90a2c;
    background-color: #653499;
}

#ohio-custom-62fceddcd6f1a,
#ohio-custom-62fceddcd6f1a>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddcd7332 h3 {
    font-size: 65px;
}

#ohio-custom-62fceddcd741c .btn {
    border-color: #653499;
    color: #653499;
}

#ohio-custom-62fceddcd741c .btn:hover {
    color: #fff;
    background-color: #653499;
    border-color: #653499;
}

#ohio-custom-62fceddcd741c .btn {
    color: #653499;
}

#ohio-custom-62fceddcd741c .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddcd75e5>.clb-slider-outer-stage {
    margin: 0 -5%;
}

#ohio-custom-62fceddcd75e5>.clb-slider-outer-stage>.clb-slider-stage {
    left: 5%;
}

#ohio-custom-62fceddcd766b h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddcd766b p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddcd76ba h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddcd76ba p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddcd7702 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddcd7702 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddcd7749 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddcd7749 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddcd778e h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddcd778e p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddcd77d6 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddcd77d6 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddcd7a3b,
#ohio-custom-62fceddcd7a3b>* {
    font-size: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fceddcd7a5a h3 {
    font-size: 41px;
    font-weight: 600;
}

#ohio-custom-62fceddcd7b00,
#ohio-custom-62fceddcd7b00>* {
    font-size: 17px;
    line-height: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fceddcd7cc0 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddcd8454 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddcd8454 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddcd8454 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddcd8454 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddcd8dad h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddcd9910 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddcd9910 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddcd9910 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddcd9910 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddcd995b .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddcd995b .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddcd995b .btn {
    color: #ffffff;
}

#ohio-custom-62fceddcd995b .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddcda067 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddcda970 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddcda970 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddcda970 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddcda970 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddcdb3f9 h4 {
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

#ohio-custom-62fceddcdb3f9 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddcdb546>.clb-slider-outer-stage {
    margin: 0 -30px;
}

#ohio-custom-62fceddcdb546>.clb-slider-outer-stage>.clb-slider-stage {
    left: 30px;
}

#ohio-custom-62fceddcdb8dc,
#ohio-custom-62fceddcdb8dc>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddcdb923,
#ohio-custom-62fceddcdb923>* {
    color: #ffffff;
}

#ohio-custom-62fceddcdbc79,
#ohio-custom-62fceddcdbc79>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddcdbcbe,
#ohio-custom-62fceddcdbcbe>* {
    color: #ffffff;
}

#ohio-custom-62fceddcdbfdb,
#ohio-custom-62fceddcdbfdb>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddcdc021,
#ohio-custom-62fceddcdc021>* {
    color: #ffffff;
}

#ohio-custom-62fceddcdc361,
#ohio-custom-62fceddcdc361>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddcdc3a6,
#ohio-custom-62fceddcdc3a6>* {
    color: #ffffff;
}

#ohio-custom-62fceddcdc6dd,
#ohio-custom-62fceddcdc6dd>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddcdc722,
#ohio-custom-62fceddcdc722>* {
    color: #ffffff;
}

#ohio-custom-62fceddcdca12,
#ohio-custom-62fceddcdca12>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddcdca79,
#ohio-custom-62fceddcdca79>* {
    color: #ffffff;
}

#ohio-custom-62fceddcdcd90,
#ohio-custom-62fceddcdcd90>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddcdcdd6,
#ohio-custom-62fceddcdcdd6>* {
    color: #ffffff;
}

#ohio-custom-62fceddcdd118,
#ohio-custom-62fceddcdd118>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddcdd15f,
#ohio-custom-62fceddcdd15f>* {
    color: #ffffff;
}

#ohio-custom-62fceddcdd485,
#ohio-custom-62fceddcdd485>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddcdd4ca,
#ohio-custom-62fceddcdd4ca>* {
    color: #ffffff;
}

#ohio-custom-62fceddcde4fd .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fceddcde4fd .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddcde4fd .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddcde4fd .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddce025a h4 {
    font-size: 56px;
    line-height: 60px;
}

#ohio-custom-62fceddce025a p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fceddce21f6.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddce21f6.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fceddce21f6.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddce22d2.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddce22d2.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddce273c h2 {
    color: #ffffff;
}

#ohio-custom-62fceddce273c p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fceddce28b0 .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddce28b0 .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fceddce2b01,
#ohio-custom-62fceddce2b01>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}

