#ohio-custom-62fcedcd4fc4a h2 {
    font-weight: 700;
}

#ohio-custom-62fcedcd4fd4b .btn {
    background-color: #ff9900;
    border-color: #ff9900;
}

#ohio-custom-62fcedcd4fd4b .btn:hover {
    border-color: #ff9900;
}

#ohio-custom-62fcedcd4fd4b .btn {
    color: #ffffff;
}

#ohio-custom-62fcedcd504f2 h6 {
    color: #555555;
}

#ohio-custom-62fcedcd50b97 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd50f06 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd5125c .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd51574 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd518b5 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd51b85 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedcd521b0,
#ohio-custom-62fcedcd521b0>* {
    font-weight: 700;
    color: #0a0a0a;
}

#ohio-custom-62fcedcd521d3,
#ohio-custom-62fcedcd521d3>* {
    color: #0a0a0a;
}

#ohio-custom-62fcedcd52edd .icon-box-title {
    font-size: 30px;
    line-height: 30px;
    color: #0a0a0a;
}

#ohio-custom-62fcedcd52edd .icon-box-details {
    color: #0a0a0a;
}

#ohio-custom-62fcedcd52edd .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd5331b .icon-box-title {
    font-size: 30px;
    line-height: 30px;
    color: #0a0a0a;
}

#ohio-custom-62fcedcd5331b .icon-box-details {
    color: #0a0a0a;
}

#ohio-custom-62fcedcd5331b .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd53736 .icon-box-title {
    font-size: 30px;
    line-height: 30px;
    color: #0a0a0a;
}

#ohio-custom-62fcedcd53736 .icon-box-details {
    color: #0a0a0a;
}

#ohio-custom-62fcedcd53736 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd53b71,
#ohio-custom-62fcedcd53b71>* {
    font-weight: 400;
}

#ohio-custom-62fcedcd53fe1 .icon-box-title {
    font-size: 17px;
    font-weight: 400;
}

#ohio-custom-62fcedcd53fe1 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd5439e .icon-box-title {
    font-size: 17px;
    font-weight: 400;
}

#ohio-custom-62fcedcd5439e .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd54747 .icon-box-title {
    font-size: 17px;
    font-weight: 400;
}

#ohio-custom-62fcedcd54747 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd54b03 .icon-box-title {
    font-size: 17px;
    font-weight: 400;
}

#ohio-custom-62fcedcd54b03 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd54f76 .icon-box-title {
    font-size: 17px;
    font-weight: 400;
}

#ohio-custom-62fcedcd54f76 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd55308 .icon-box-title {
    font-size: 17px;
    font-weight: 400;
}

#ohio-custom-62fcedcd55308 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd556a8 .icon-box-title {
    font-size: 17px;
    font-weight: 400;
}

#ohio-custom-62fcedcd556a8 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd55a5d .icon-box-title {
    font-size: 17px;
    font-weight: 400;
}

#ohio-custom-62fcedcd55a5d .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd55ee0 .icon-box-title {
    font-size: 17px;
    font-weight: 400;
}

#ohio-custom-62fcedcd55ee0 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedcd56df9 .ohio-card-wrapper {
    padding: 1;
}

#ohio-custom-62fcedcd56df9 .blog-grid.boxed:not(.blog-grid-type-2) .blog-grid-content {}

#ohio-custom-62fcedcd5979f .ohio-card-wrapper {
    padding: 3;
}

#ohio-custom-62fcedcd5979f .blog-grid.boxed:not(.blog-grid-type-2) .blog-grid-content {}

#ohio-custom-62fcedcd5e25a,
#ohio-custom-62fcedcd5e25a>* {
    font-weight: 600;
}

#ohio-custom-62fcedcd5e2a9 .btn {
    background-color: #ff9900;
    border-color: #ff9900;
}

#ohio-custom-62fcedcd5e2a9 .btn:hover {
    border-color: #ff9900;
}

#ohio-custom-62fcedcd5e2a9 .btn {
    color: #ffffff;
}

#ohio-custom-62fcedcd5e2a9 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fcedcd5f1ed h4 {
    font-size: 65px;
    line-height: 70px;
}

#ohio-custom-62fcedcd5f1ed p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fcedcd5f37c>.clb-slider-outer-stage {
    margin: 0 -30px;
}

#ohio-custom-62fcedcd5f37c>.clb-slider-outer-stage>.clb-slider-stage {
    left: 30px;
}

#ohio-custom-62fcedcd60424,
#ohio-custom-62fcedcd60424>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcd6046e,
#ohio-custom-62fcedcd6046e>* {
    color: #ffffff;
}

#ohio-custom-62fcedcd609b3,
#ohio-custom-62fcedcd609b3>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcd609fa,
#ohio-custom-62fcedcd609fa>* {
    color: #ffffff;
}

#ohio-custom-62fcedcd6190f,
#ohio-custom-62fcedcd6190f>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcd61958,
#ohio-custom-62fcedcd61958>* {
    color: #ffffff;
}

#ohio-custom-62fcedcd62a46,
#ohio-custom-62fcedcd62a46>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcd62a91,
#ohio-custom-62fcedcd62a91>* {
    color: #ffffff;
}

#ohio-custom-62fcedcd632ad,
#ohio-custom-62fcedcd632ad>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcd632f5,
#ohio-custom-62fcedcd632f5>* {
    color: #ffffff;
}

#ohio-custom-62fcedcd6366d,
#ohio-custom-62fcedcd6366d>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcd636b5,
#ohio-custom-62fcedcd636b5>* {
    color: #ffffff;
}

#ohio-custom-62fcedcd6531b,
#ohio-custom-62fcedcd6531b>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcd65365,
#ohio-custom-62fcedcd65365>* {
    color: #ffffff;
}

#ohio-custom-62fcedcd656c7,
#ohio-custom-62fcedcd656c7>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcd6570e,
#ohio-custom-62fcedcd6570e>* {
    color: #ffffff;
}

#ohio-custom-62fcedcd65a5b,
#ohio-custom-62fcedcd65a5b>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedcd65aa1,
#ohio-custom-62fcedcd65aa1>* {
    color: #ffffff;
}

#ohio-custom-62fcedcd660d4,
#ohio-custom-62fcedcd660d4>* {
    font-weight: 400;
}

#ohio-custom-62fcedcd66144>.clb-slider-outer-stage {
    margin: 0 -10px;
}

#ohio-custom-62fcedcd66144>.clb-slider-outer-stage>.clb-slider-stage {
    left: 10px;
}

#ohio-custom-62fcedcd6646a.video-module .btn-play:before,
#ohio-custom-62fcedcd6646a.video-module .btn-play .ion {
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fcedcd6646a.video-module.with-animation .btn-play:before {
    border-color: #ffffff;
}

#ohio-custom-62fcedcd6646a.video-module .btn-play .ion {
    color: #ff0000;
}

#ohio-custom-62fcedcd6646a.video-module .btn-play:hover .ion {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd6646a.video-module .btn-play:hover:before {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd6646a.video-module:hover .btn-play .ion {
    color: #ffffff !important;
}

#ohio-custom-62fcedcd66786.video-module .btn-play:before,
#ohio-custom-62fcedcd66786.video-module .btn-play .ion {
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fcedcd66786.video-module.with-animation .btn-play:before {
    border-color: #ffffff;
}

#ohio-custom-62fcedcd66786.video-module .btn-play .ion {
    color: #ff0000;
}

#ohio-custom-62fcedcd66786.video-module .btn-play:hover .ion {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd66786.video-module .btn-play:hover:before {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd66786.video-module:hover .btn-play .ion {
    color: #ffffff !important;
}

#ohio-custom-62fcedcd668ac.video-module .btn-play:before,
#ohio-custom-62fcedcd668ac.video-module .btn-play .ion {
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fcedcd668ac.video-module.with-animation .btn-play:before {
    border-color: #ffffff;
}

#ohio-custom-62fcedcd668ac.video-module .btn-play .ion {
    color: #ff0000;
}

#ohio-custom-62fcedcd668ac.video-module .btn-play:hover .ion {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd668ac.video-module .btn-play:hover:before {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd668ac.video-module:hover .btn-play .ion {
    color: #ffffff !important;
}

#ohio-custom-62fcedcd66994.video-module .btn-play:before,
#ohio-custom-62fcedcd66994.video-module .btn-play .ion {
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fcedcd66994.video-module.with-animation .btn-play:before {
    border-color: #ffffff;
}

#ohio-custom-62fcedcd66994.video-module .btn-play .ion {
    color: #ff0000;
}

#ohio-custom-62fcedcd66994.video-module .btn-play:hover .ion {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd66994.video-module .btn-play:hover:before {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd66994.video-module:hover .btn-play .ion {
    color: #ffffff !important;
}

#ohio-custom-62fcedcd66a72.video-module .btn-play:before,
#ohio-custom-62fcedcd66a72.video-module .btn-play .ion {
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fcedcd66a72.video-module.with-animation .btn-play:before {
    border-color: #ffffff;
}

#ohio-custom-62fcedcd66a72.video-module .btn-play .ion {
    color: #ff0000;
}

#ohio-custom-62fcedcd66a72.video-module .btn-play:hover .ion {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd66a72.video-module .btn-play:hover:before {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd66a72.video-module:hover .btn-play .ion {
    color: #ffffff !important;
}

#ohio-custom-62fcedcd66b4a.video-module .btn-play:before,
#ohio-custom-62fcedcd66b4a.video-module .btn-play .ion {
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fcedcd66b4a.video-module.with-animation .btn-play:before {
    border-color: #ffffff;
}

#ohio-custom-62fcedcd66b4a.video-module .btn-play .ion {
    color: #ff0000;
}

#ohio-custom-62fcedcd66b4a.video-module .btn-play:hover .ion {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd66b4a.video-module .btn-play:hover:before {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd66b4a.video-module:hover .btn-play .ion {
    color: #ffffff !important;
}

#ohio-custom-62fcedcd66c3c.video-module .btn-play:before,
#ohio-custom-62fcedcd66c3c.video-module .btn-play .ion {
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fcedcd66c3c.video-module.with-animation .btn-play:before {
    border-color: #ffffff;
}

#ohio-custom-62fcedcd66c3c.video-module .btn-play .ion {
    color: #ff0000;
}

#ohio-custom-62fcedcd66c3c.video-module .btn-play:hover .ion {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd66c3c.video-module .btn-play:hover:before {
    background: #ff0000 !important;
    border-color: #ff0000 !important;
}

#ohio-custom-62fcedcd66c3c.video-module:hover .btn-play .ion {
    color: #ffffff !important;
}

#ohio-custom-62fcedcd66e25 h4 {
    font-size: 56px;
    line-height: 60px;
}

#ohio-custom-62fcedcd66e25 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fcedcd686ca.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedcd686ca.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fcedcd686ca.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedcd6879b.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedcd6879b.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedcd68a9c h2 {
    color: #ffffff;
}

#ohio-custom-62fcedcd68a9c p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fcedcd68bbb .btn {
    background-color: #ec434b;
    border-color: #ec434b;
}

#ohio-custom-62fcedcd68bbb .btn:hover {
    border-color: #ec434b;
}

#ohio-custom-62fcedcd68dd3,
#ohio-custom-62fcedcd68dd3>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}

