#ohio-custom-62fcedddb4b25 .btn {
    border-color: #e04e3a;
    color: #e04e3a;
}

#ohio-custom-62fcedddb4b25 .btn:hover {
    color: #fff;
    background-color: #e04e3a;
    border-color: #e04e3a;
}

#ohio-custom-62fcedddb54ec,
#ohio-custom-62fcedddb54ec>* {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fcedddb551e,
#ohio-custom-62fcedddb551e>* {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

#ohio-custom-62fcedddb5ddc h3 {
    color: #ffffff;
}

#ohio-custom-62fcedddb6185,
#ohio-custom-62fcedddb6185>* {
    font-size: 34px;
}

#ohio-custom-62fcedddb6d96 .btn {
    background-color: #e04e3a;
    border-color: #e04e3a;
}

#ohio-custom-62fcedddb6d96 .btn:hover {
    border-color: #e04e3a;
}

#ohio-custom-62fcedddb7362 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb76b4 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb7a33 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb7d95 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb80ed .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb844b .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb88a8 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb8b22 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb8e82 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb91cc .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb94d5 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb97f7 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddb9afd .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedddba1a3 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fcedddbaae4 .icon-box-icon {
    color: #d90a2c;
    background-color: #e04e3a;
}

#ohio-custom-62fcedddbab34,
#ohio-custom-62fcedddbab34>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcedddbafbe .icon-box-icon {
    color: #d90a2c;
    background-color: #e04e3a;
}

#ohio-custom-62fcedddbaff8,
#ohio-custom-62fcedddbaff8>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcedddbb487 .icon-box-icon {
    color: #d90a2c;
    background-color: #e04e3a;
}

#ohio-custom-62fcedddbb4c1,
#ohio-custom-62fcedddbb4c1>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcedddbb9d9 .icon-box-icon {
    color: #d90a2c;
    background-color: #e04e3a;
}

#ohio-custom-62fcedddbba11,
#ohio-custom-62fcedddbba11>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcedddbbdf8 .icon-box-icon {
    color: #d90a2c;
    background-color: #e04e3a;
}

#ohio-custom-62fcedddbbe30,
#ohio-custom-62fcedddbbe30>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcedddbc209 .icon-box-icon {
    color: #d90a2c;
    background-color: #e04e3a;
}

#ohio-custom-62fcedddbc240,
#ohio-custom-62fcedddbc240>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcedddbc689 h3 {
    font-size: 65px;
}

#ohio-custom-62fcedddbc7a4 .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fcedddbc7a4 .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedddbc7a4 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcedddbc7a4 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fcedddbc987>.clb-slider-outer-stage {
    margin: 0 -5%;
}

#ohio-custom-62fcedddbc987>.clb-slider-outer-stage>.clb-slider-stage {
    left: 5%;
}

#ohio-custom-62fcedddbca12 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedddbca12 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedddbca62 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedddbca62 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedddbcaab h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedddbcaab p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedddbcb0d h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedddbcb0d p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedddbcb52 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedddbcb52 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedddbcb9b h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedddbcb9b p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedddbcf68,
#ohio-custom-62fcedddbcf68>* {
    font-size: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fcedddbcf88 h3 {
    font-size: 41px;
    font-weight: 600;
}

#ohio-custom-62fcedddbd048,
#ohio-custom-62fcedddbd048>* {
    font-size: 17px;
    line-height: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fcedddbd1e1 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fcedddbda3f .btn {
    color: #d90a2c;
}

#ohio-custom-62fcedddbda3f .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fcedddbda3f .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcedddbda3f .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcedddbe450 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fcedddbf132 .btn {
    color: #d90a2c;
}

#ohio-custom-62fcedddbf132 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fcedddbf132 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcedddbf132 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcedddbf804 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fcedddbfbc5 .btn {
    color: #d90a2c;
}

#ohio-custom-62fcedddbfbc5 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fcedddbfbc5 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcedddbfbc5 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcedddc06e4 h4 {
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

#ohio-custom-62fcedddc06e4 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedddc084e>.clb-slider-outer-stage {
    margin: 0 -30px;
}

#ohio-custom-62fcedddc084e>.clb-slider-outer-stage>.clb-slider-stage {
    left: 30px;
}

#ohio-custom-62fcedddc0c36,
#ohio-custom-62fcedddc0c36>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedddc0c86,
#ohio-custom-62fcedddc0c86>* {
    color: #ffffff;
}

#ohio-custom-62fcedddc0fd5,
#ohio-custom-62fcedddc0fd5>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedddc101d,
#ohio-custom-62fcedddc101d>* {
    color: #ffffff;
}

#ohio-custom-62fcedddc1351,
#ohio-custom-62fcedddc1351>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedddc139a,
#ohio-custom-62fcedddc139a>* {
    color: #ffffff;
}

#ohio-custom-62fcedddc1754,
#ohio-custom-62fcedddc1754>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedddc179b,
#ohio-custom-62fcedddc179b>* {
    color: #ffffff;
}

#ohio-custom-62fcedddc1ad5,
#ohio-custom-62fcedddc1ad5>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedddc1b1c,
#ohio-custom-62fcedddc1b1c>* {
    color: #ffffff;
}

#ohio-custom-62fcedddc1e6c,
#ohio-custom-62fcedddc1e6c>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedddc1eb2,
#ohio-custom-62fcedddc1eb2>* {
    color: #ffffff;
}

#ohio-custom-62fcedddc21c0,
#ohio-custom-62fcedddc21c0>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedddc221f,
#ohio-custom-62fcedddc221f>* {
    color: #ffffff;
}

#ohio-custom-62fcedddc254c,
#ohio-custom-62fcedddc254c>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedddc2594,
#ohio-custom-62fcedddc2594>* {
    color: #ffffff;
}

#ohio-custom-62fcedddc28c8,
#ohio-custom-62fcedddc28c8>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedddc2910,
#ohio-custom-62fcedddc2910>* {
    color: #ffffff;
}

#ohio-custom-62fcedddc3b37 .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fcedddc3b37 .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedddc3b37 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcedddc3b37 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcedddc4f01 h4 {
    font-size: 56px;
    line-height: 60px;
}

#ohio-custom-62fcedddc4f01 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fcedddc66f9.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedddc66f9.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fcedddc66f9.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedddc67c4.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedddc67c4.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedddc6ab6 h2 {
    color: #ffffff;
}

#ohio-custom-62fcedddc6ab6 p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fcedddc6bcc .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedddc6bcc .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fcedddc6dd5,
#ohio-custom-62fcedddc6dd5>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}

