.vc_custom_1646906432807 {
      background-image: url(../../asset-3/uploads/2022/03/oh_bg-min9635.png?id=24562) !important;
  }

  .vc_custom_1646394459816 {
      background-color: rgba(160, 175, 188, 0.05) !important;
      *background-color: rgb(160, 175, 188) !important;
  }

  .vc_custom_1646108550905 {
      background-color: #ffffff !important;
  }

  .vc_custom_1646825138835 {
      border-top-width: 1px !important;
      padding-top: 150px !important;
      padding-bottom: 175px !important;
      border-top-color: rgba(183, 183, 183, 0.36) !important;
      border-top-style: solid !important;
  }

  .vc_custom_1646052807844 {
      padding-top: 40px !important;
      background-color: #fafcfd !important;
  }

  .vc_custom_1637154985772 {
      border-top-width: 1px !important;
      border-top-color: #eaedf2 !important;
      border-top-style: solid !important;
  }

  .vc_custom_1646108736566 {
      border-top-width: 1px !important;
      border-top-color: #eaedf2 !important;
      border-top-style: solid !important;
  }

  .vc_custom_1645440274267 {
      background-image: url(../../asset-3/uploads/2021/11/ft_banner_mern.png) !important;
  }

  .vc_custom_1646903088693 {
      margin-bottom: 0px !important;
      padding-bottom: 0px !important;
      background: #1c1f22 url(../../asset-3/uploads/2021/11/Mask-Group-15.png) !important;
  }

  .vc_custom_1646896745599 {
      border-top-width: 1px !important;
      border-right-width: 1px !important;
      border-bottom-width: 1px !important;
      border-left-width: 1px !important;
      padding-top: 30px !important;
      padding-right: 30px !important;
      padding-bottom: 30px !important;
      padding-left: 30px !important;
      border-left-color: #cdd2d8 !important;
      border-left-style: solid !important;
      border-right-color: #cdd2d8 !important;
      border-right-style: solid !important;
      border-top-color: #cdd2d8 !important;
      border-top-style: solid !important;
      border-bottom-color: #cdd2d8 !important;
      border-bottom-style: solid !important;
  }

  .vc_custom_1646902313050 {
      margin-top: 60px !important;
  }

  .vc_custom_1645867167107 {
      padding-right: 35% !important;
  }

  .vc_custom_1645695229946 {
      padding-right: 35% !important;
  }

  .vc_custom_1645695253110 {
      padding-right: 35% !important;
  }

  .vc_custom_1645695274827 {
      padding-right: 35% !important;
  }

  .vc_custom_1645695285876 {
      padding-right: 35% !important;
  }

  .vc_custom_1645695396401 {
      padding-right: 35% !important;
  }

  .vc_custom_1645695573421 {
      padding-right: 35% !important;
  }

  .vc_custom_1645695601406 {
      padding-right: 35% !important;
  }

  .vc_custom_1645695463405 {
      padding-right: 35% !important;
  }

  .vc_custom_1645695477872 {
      padding-right: 35% !important;
  }

  .vc_custom_1649070544431 {
      margin-top: 100px !important;
      margin-bottom: 40px !important;
  }

  .vc_custom_1649070544431 {
      margin-top: 100px !important;
      margin-bottom: 40px !important;
  }

  .vc_custom_1646376756444 {
      padding-top: 60px !important;
      padding-bottom: 35px !important;
  }

  .vc_custom_1646729841675 {
      padding-top: 35px !important;
  }

  .vc_custom_1646376810187 {
      padding-top: 60px !important;
      padding-bottom: 30px !important;
  }

  .vc_custom_1646729998057 {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
  }

  .vc_custom_1646729932537 {
      padding-top: 0px !important;
      padding-right: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
  }

  .vc_custom_1646376821147 {
      padding-top: 60px !important;
      padding-bottom: 30px !important;
  }

  .vc_custom_1646372821773 {
      padding-top: 35px !important;
      padding-bottom: 30px !important;
  }

  .vc_custom_1646376833314 {
      padding-top: 60px !important;
      padding-bottom: 30px !important;
  }

  .vc_custom_1646376853226 {
      padding-top: 60px !important;
      padding-bottom: 35px !important;
  }

  .vc_custom_1646376861010 {
      padding-top: 60px !important;
      padding-bottom: 30px !important;
  }

  .vc_custom_1646730326887 {
      padding-top: 0px !important;
      padding-right: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
  }

  .vc_custom_1649652633449 {
      margin-right: 0px !important;
      margin-left: 0px !important;
      padding-top: 50px !important;
      padding-right: 50px !important;
      padding-left: 50px !important;
      background-color: #70b920 !important;
      border-radius: 5px !important;
  }

  .vc_custom_1649654111835 {
      margin-right: 0px !important;
      margin-left: 0px !important;
      padding-top: 50px !important;
      padding-right: 50px !important;
      padding-left: 50px !important;
      background-color: #080b0c !important;
      border-radius: 5px !important;
  }

  .vc_custom_1649652353242 {
      margin-right: 0px !important;
      margin-left: 0px !important;
      padding-top: 50px !important;
      padding-right: 50px !important;
      padding-left: 50px !important;
      background-color: #beab7e !important;
      border-radius: 5px !important;
  }

  .vc_custom_1649653766254 {
      margin-right: 0px !important;
      margin-left: 0px !important;
      padding-top: 50px !important;
      padding-right: 50px !important;
      padding-left: 50px !important;
      background-color: #e7476e !important;
      border-radius: 5px !important;
  }

  .vc_custom_1649654229477 {
      margin-right: 0px !important;
      margin-left: 0px !important;
      padding-top: 50px !important;
      padding-right: 50px !important;
      padding-left: 50px !important;
      background-color: #1a255f !important;
      border-radius: 5px !important;
  }

  .vc_custom_1649652571349 {
      margin-right: 0px !important;
      margin-left: 0px !important;
      padding-top: 50px !important;
      padding-right: 50px !important;
      padding-left: 50px !important;
      background-color: #57a31b !important;
      border-radius: 5px !important;
  }

  .vc_custom_1650972860151 {
      background-color: #ffffff !important;
  }

  .vc_custom_1650972847870 {
      margin-right: 30px !important;
      background-color: #ffffff !important;
  }

  .vc_custom_1645614711847 {
      padding-top: 39% !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
  }

  .vc_custom_1645868828514 {
      padding-top: 12.3% !important;
      padding-right: 40px !important;
      padding-bottom: 12.3% !important;
      padding-left: 40px !important;
      background-color: #ff0000 !important;
  }

  .vc_custom_1645868835265 {
      padding-top: 12.3% !important;
      padding-right: 40px !important;
      padding-bottom: 12.3% !important;
      padding-left: 40px !important;
      background-color: #1a1c1f !important;
  }

