.vc_custom_1645849714547 {
    margin-top: 100px !important;
}

.vc_custom_1645851430636 {
    padding-top: 122px !important;
    padding-bottom: 165px !important;
}

.vc_custom_1648468369304 {
    padding-top: 200px !important;
    background-color: #f4f7fa !important;
}

.vc_custom_1648468832378 {
    padding-top: 100px !important;
    background-color: #f4f7fa !important;
}

.vc_custom_1650427954390 {
    padding-top: 15px !important;
    padding-bottom: 100px !important;
    background-color: #f4f7fa !important;
}

.vc_custom_1650429418396 {
    margin-bottom: 20px !important;
    padding-top: 15px !important;
    padding-bottom: 100px !important;
    background-color: #f4f7fa !important;
}

.vc_custom_1646825138835 {
    border-top-width: 1px !important;
    padding-top: 150px !important;
    padding-bottom: 175px !important;
    border-top-color: rgba(183, 183, 183, 0.36) !important;
    border-top-style: solid !important;
}

.vc_custom_1646107797198 {
    padding-top: 120px !important;
    background-color: #fafcfd !important;
}

.vc_custom_1645185590819 {
    border-top-width: 0px !important;
    border-top-color: #eaedf2 !important;
    border-top-style: solid !important;
}

.vc_custom_1644474593932 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    background-color: #1c1f22 !important;
}

.vc_custom_1648727687416 {
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1646390311407 {
    margin-top: 60px !important;
}

.vc_custom_1647860878546 {
    margin-top: 0px !important;
}

.vc_custom_1646220268030 {
    margin-bottom: 0px !important;
    padding-top: 40px !important;
}

.vc_custom_1645850342704 {
    padding-right: 35% !important;
}

.vc_custom_1645695229946 {
    padding-right: 35% !important;
}

.vc_custom_1645695253110 {
    padding-right: 35% !important;
}

.vc_custom_1645695274827 {
    padding-right: 35% !important;
}

.vc_custom_1645695285876 {
    padding-right: 35% !important;
}

.vc_custom_1645695396401 {
    padding-right: 35% !important;
}

.vc_custom_1645695573421 {
    padding-right: 35% !important;
}

.vc_custom_1645695601406 {
    padding-right: 35% !important;
}

.vc_custom_1645695463405 {
    padding-right: 35% !important;
}

.vc_custom_1645695477872 {
    padding-right: 35% !important;
}

.vc_custom_1646823608778 {
    padding-left: 120px !important;
    background-color: #f7f8fc !important;
}

.vc_custom_1644314460063 {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px initial !important;
}

.vc_custom_1647836995539 {
    margin: 0px !important;
    padding: 40px !important;
    background-color: #ffffff !important;
    border-radius: 25px !important;
}

.vc_custom_1647837017844 {
    padding: 40px !important;
    background-color: #ffffff !important;
    border-radius: 25px !important;
}

.vc_custom_1647837033779 {
    padding: 40px !important;
    background-color: #ffffff !important;
    border-radius: 25px !important;
}

.vc_custom_1647837080080 {
    margin: 0px !important;
    padding: 40px !important;
    background-color: #ffffff !important;
    border-radius: 25px !important;
}

.vc_custom_1647837094861 {
    padding: 40px !important;
    background-color: #ffffff !important;
    border-radius: 25px !important;
}

.vc_custom_1647837109111 {
    padding: 40px !important;
    background-color: #ffffff !important;
    border-radius: 25px !important;
}

.vc_custom_1650428080861 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 40px !important;
    padding-left: 40px !important;
    background-color: #ff5555 !important;
    border-radius: 5px !important;
}

.vc_custom_1649070544431 {
    margin-top: 100px !important;
    margin-bottom: 40px !important;
}

.vc_custom_1649070544431 {
    margin-top: 100px !important;
    margin-bottom: 40px !important;
}

.vc_custom_1645854645417 {
    margin-bottom: 75px !important;
}

.vc_custom_1649652633449 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #70b920 !important;
    border-radius: 5px !important;
}

.vc_custom_1649654111835 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #080b0c !important;
    border-radius: 5px !important;
}

.vc_custom_1649652353242 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #beab7e !important;
    border-radius: 5px !important;
}

.vc_custom_1649653766254 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #e7476e !important;
    border-radius: 5px !important;
}

.vc_custom_1649654229477 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #1a255f !important;
    border-radius: 5px !important;
}

.vc_custom_1649652571349 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #57a31b !important;
    border-radius: 5px !important;
}

.vc_custom_1645612033167 {
    padding-top: 39% !important;
}

.vc_custom_1645855238740 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #ff0000 !important;
}

.vc_custom_1645855246771 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #1a1c1f !important;
}