#ohio-custom-62fceddfa6a6c,
#ohio-custom-62fceddfa6a6c>* {
    font-weight: 700;
    color: #0a0a0a;
}

#ohio-custom-62fceddfa6b4a,
#ohio-custom-62fceddfa6b4a>* {
    font-size: 18px;
    line-height: 50px;
    color: #0a0a0a;
}

#ohio-custom-62fceddfa8277,
#ohio-custom-62fceddfa8277>* {
    font-size: 28px;
}

#ohio-custom-62fceddfa82b9,
#ohio-custom-62fceddfa82b9>* {
    font-size: 39px;
    line-height: 40px;
    font-weight: 100;
}

#ohio-custom-62fceddfa89c8 .icon-box-title {
    font-size: 28px;
    font-weight: 500;
}

#ohio-custom-62fceddfa89c8 .icon-box-details {
    font-size: 17px;
    line-height: 22px;
}

#ohio-custom-62fceddfa89c8 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fceddfa8d65 .icon-box-title {
    font-size: 28px;
    font-weight: 500;
}

#ohio-custom-62fceddfa8d65 .icon-box-details {
    font-size: 17px;
    line-height: 22px;
}

#ohio-custom-62fceddfa8d65 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fceddfa9115 .icon-box-title {
    font-size: 28px;
    font-weight: 500;
}

#ohio-custom-62fceddfa9115 .icon-box-details {
    font-size: 17px;
    line-height: 22px;
}

#ohio-custom-62fceddfa9115 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fceddfaa705 .icon-box-title {
    font-size: 28px;
    font-weight: 600;
}

#ohio-custom-62fceddfaa705 .icon-box-details {
    font-size: 17px;
    line-height: 22px;
}

#ohio-custom-62fceddfaa705 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fceddfaab01 .icon-box-title {
    font-size: 28px;
    font-weight: 500;
}

#ohio-custom-62fceddfaab01 .icon-box-details {
    font-size: 17px;
    line-height: 22px;
}

#ohio-custom-62fceddfaab01 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fceddfab313 h1 {
    font-weight: 400;
}

#ohio-custom-62fceddfab313 p.subtitle {
    font-size: 25px;
    font-weight: 400;
    color: #A6A7AA;
}

#ohio-custom-62fceddfab350,
#ohio-custom-62fceddfab350>* {
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
}

#ohio-custom-62fceddfab4c2,
#ohio-custom-62fceddfab4c2>* {
    font-weight: 300;
}

#ohio-custom-62fceddfab56e,
#ohio-custom-62fceddfab56e>* {
    font-weight: 300;
}

#ohio-custom-62fceddfab645 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfab645 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfab645 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787E;
}

#ohio-custom-62fceddfab645 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfab81c,
#ohio-custom-62fceddfab81c>* {
    font-weight: 300;
}

#ohio-custom-62fceddfab8c7 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfab8c7 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfab8c7 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfab8c7 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfaba37,
#ohio-custom-62fceddfaba37>* {
    font-size: 43px;
    font-weight: 400;
}

#ohio-custom-62fceddfabaf5,
#ohio-custom-62fceddfabaf5>* {
    font-weight: 300;
}

#ohio-custom-62fceddfabb9e .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfabb9e .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfabb9e .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfabb9e .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfabd58,
#ohio-custom-62fceddfabd58>* {
    font-weight: 300;
}

#ohio-custom-62fceddfabe0c .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfabe0c .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfabe0c .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfabe0c .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac06c,
#ohio-custom-62fceddfac06c>* {
    font-weight: 300;
}

#ohio-custom-62fceddfac160 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfac160 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac160 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfac160 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac390,
#ohio-custom-62fceddfac390>* {
    font-weight: 300;
}

#ohio-custom-62fceddfac46d .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfac46d .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac46d .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfac46d .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac67a,
#ohio-custom-62fceddfac67a>* {
    font-weight: 300;
}

#ohio-custom-62fceddfac76b .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfac76b .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac76b .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfac76b .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac9d2,
#ohio-custom-62fceddfac9d2>* {
    font-weight: 300;
}

#ohio-custom-62fceddfacad7 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfacad7 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfaccbc,
#ohio-custom-62fceddfaccbc>* {
    font-weight: 300;
}

#ohio-custom-62fceddfacdc2 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfacdc2 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfacdc2 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfacdc2 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfacff2,
#ohio-custom-62fceddfacff2>* {
    font-weight: 300;
}

#ohio-custom-62fceddfad0a4 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfad0a4 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfad5ef.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddfad5ef.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fceddfad5ef.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddfad71a.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddfad71a.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddfad9a0,
#ohio-custom-62fceddfad9a0>* {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fceddfad9e1,
#ohio-custom-62fceddfad9e1>* {
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddfadaf3,
#ohio-custom-62fceddfadaf3>* {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fceddfadb1d,
#ohio-custom-62fceddfadb1d>* {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddfadbd9 .btn {
    border-color: #ffffff;
    color: #ffffff;
}

#ohio-custom-62fceddfadbd9 .btn:hover {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fceddfadbd9 .btn {
    color: #ffffff;
}

#ohio-custom-62fceddfadbd9 .btn:hover {
    color: #0a0a0a;
}
