#ohio-custom-62fceddd62e54 .btn {
    border-color: #f2de1b;
    color: #f2de1b;
}

#ohio-custom-62fceddd62e54 .btn:hover {
    color: #fff;
    background-color: #f2de1b;
    border-color: #f2de1b;
}

#ohio-custom-62fceddd62e54 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddd62e54 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddd6390c,
#ohio-custom-62fceddd6390c>* {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fceddd6393e,
#ohio-custom-62fceddd6393e>* {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

#ohio-custom-62fceddd641bd h3 {
    color: #ffffff;
}

#ohio-custom-62fceddd64573,
#ohio-custom-62fceddd64573>* {
    font-size: 34px;
}

#ohio-custom-62fceddd65655 .btn {
    background-color: #f2de1b;
    border-color: #f2de1b;
}

#ohio-custom-62fceddd65655 .btn:hover {
    border-color: #f2de1b;
}

#ohio-custom-62fceddd65655 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddd65655 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddd65c31 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd65f51 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd66288 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd665c5 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd668f8 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd66c51 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd67069 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd672bb .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd675e9 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd6790f .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd67bf9 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd67ed8 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd681c3 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddd68814 .btn {
    border-color: #f2de1b;
    color: #f2de1b;
}

#ohio-custom-62fceddd68814 .btn:hover {
    color: #fff;
    background-color: #f2de1b;
    border-color: #f2de1b;
}

#ohio-custom-62fceddd68814 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddd68814 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddd69171 .icon-box-icon {
    color: #d90a2c;
    background-color: #f2de1b;
}

#ohio-custom-62fceddd691bf,
#ohio-custom-62fceddd691bf>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddd69619 .icon-box-icon {
    color: #d90a2c;
    background-color: #f2de1b;
}

#ohio-custom-62fceddd69653,
#ohio-custom-62fceddd69653>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddd69a81 .icon-box-icon {
    color: #d90a2c;
    background-color: #f2de1b;
}

#ohio-custom-62fceddd69acc,
#ohio-custom-62fceddd69acc>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddd69ff9 .icon-box-icon {
    color: #d90a2c;
    background-color: #f2de1b;
}

#ohio-custom-62fceddd6a031,
#ohio-custom-62fceddd6a031>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddd6a3ff .icon-box-icon {
    color: #d90a2c;
    background-color: #f2de1b;
}

#ohio-custom-62fceddd6a438,
#ohio-custom-62fceddd6a438>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddd6a83f .icon-box-icon {
    color: #d90a2c;
    background-color: #f2de1b;
}

#ohio-custom-62fceddd6a876,
#ohio-custom-62fceddd6a876>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddd6acdd>.clb-slider-outer-stage {
    margin: 0 -5%;
}

#ohio-custom-62fceddd6acdd>.clb-slider-outer-stage>.clb-slider-stage {
    left: 5%;
}

#ohio-custom-62fceddd6ad67 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddd6ad67 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddd6adba h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddd6adba p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddd6ae02 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddd6ae02 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddd6ae85 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddd6ae85 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddd6aece h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddd6aece p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddd6af17 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddd6af17 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddd6b491,
#ohio-custom-62fceddd6b491>* {
    font-size: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fceddd6b4b1 h3 {
    font-size: 41px;
    font-weight: 600;
}

#ohio-custom-62fceddd6b55a,
#ohio-custom-62fceddd6b55a>* {
    font-size: 17px;
    line-height: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fceddd6b72b h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddd6c274 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddd6c274 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddd6c274 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddd6c274 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddd6cc9e h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddd6d683 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddd6d683 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddd6d683 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddd6d683 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddd6dd21 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddd6e5ca .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddd6e5ca .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddd6e5ca .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddd6e5ca .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddd6ee63 h4 {
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

#ohio-custom-62fceddd6ee63 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddd6efbc>.clb-slider-outer-stage {
    margin: 0 -30px;
}

#ohio-custom-62fceddd6efbc>.clb-slider-outer-stage>.clb-slider-stage {
    left: 30px;
}

#ohio-custom-62fceddd6f376,
#ohio-custom-62fceddd6f376>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddd6f3bf,
#ohio-custom-62fceddd6f3bf>* {
    color: #ffffff;
}

#ohio-custom-62fceddd6f6f2,
#ohio-custom-62fceddd6f6f2>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddd6f739,
#ohio-custom-62fceddd6f739>* {
    color: #ffffff;
}

#ohio-custom-62fceddd6fa6f,
#ohio-custom-62fceddd6fa6f>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddd6fab6,
#ohio-custom-62fceddd6fab6>* {
    color: #ffffff;
}

#ohio-custom-62fceddd6fe19,
#ohio-custom-62fceddd6fe19>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddd6fe61,
#ohio-custom-62fceddd6fe61>* {
    color: #ffffff;
}

#ohio-custom-62fceddd701a5,
#ohio-custom-62fceddd701a5>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddd701eb,
#ohio-custom-62fceddd701eb>* {
    color: #ffffff;
}

#ohio-custom-62fceddd70542,
#ohio-custom-62fceddd70542>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddd7058e,
#ohio-custom-62fceddd7058e>* {
    color: #ffffff;
}

#ohio-custom-62fceddd70890,
#ohio-custom-62fceddd70890>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddd708d6,
#ohio-custom-62fceddd708d6>* {
    color: #ffffff;
}

#ohio-custom-62fceddd70bce,
#ohio-custom-62fceddd70bce>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddd70c2c,
#ohio-custom-62fceddd70c2c>* {
    color: #ffffff;
}

#ohio-custom-62fceddd70f26,
#ohio-custom-62fceddd70f26>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddd70f6c,
#ohio-custom-62fceddd70f6c>* {
    color: #ffffff;
}

#ohio-custom-62fceddd723c0 .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fceddd723c0 .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddd723c0 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddd723c0 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddd73844 h4 {
    font-size: 56px;
    line-height: 60px;
}

#ohio-custom-62fceddd73844 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fceddd74ecb.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddd74ecb.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fceddd74ecb.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddd74f95.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddd74f95.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddd75292 h2 {
    color: #ffffff;
}

#ohio-custom-62fceddd75292 p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fceddd7539a .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddd7539a .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fceddd75586,
#ohio-custom-62fceddd75586>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}

