.whats_app {
    position: fixed;
    bottom: 115px;
    right: 25px;
    z-index: 99;
}

.whats_app img {
    height: 60px;
    width: 60px;
    border-radius: 60px;
}

.blacktxt.btn .text {
    color: black !important;
}

@media only screen and (max-width: 1366px) {

    body .slider.ohio-slider.slider-offset.full.with-preloader.with-pagination.clb-slider.visible.aos-init.aos-animate .slider-wrap,
    body .slider.ohio-slider.slider-offset.without-nav.with-preloader.top-dots.clb-slider.visible.aos-init .slider-wrap {
        min-width: 275px !important;
    }

    .counter-box-headline>p:nth-child(1) {
        display: none
    }

    .counter-box-headline>p {
        padding: 0px 0px !important;
        margin: 0px !important;
    }

    .item-slide .slider-wrap .vc_row .vc_column-inner,
    .item-slide .slider-wrap .vc_row {
        height: 485px !important;
    }
}

@media only screen and (max-width: 1366px) {
    body .header:not(.-mobile) .menu .sub-menu-wide {
        width: calc(100vw - 9vw) !important;
        left: -695px !important;
    }
}

@media only screen and (min-device-width : 1023px) and (max-device-width : 1024px) {
    body .header:not(.-mobile) .menu .sub-menu-wide {
        width: calc(100vw - 9vw) !important;
        left: -412.919px !important;
    }
}

@media only screen and (min-device-width : 1023px) and (max-device-width : 1024px),
@media only screen and (min-width: 1366px) {
    .image-with-title .slider-wrap {
        margin-right: 15px !important;
        min-width: 208px !important;
    }

    .image-with-title .slider-wrap .sec {

        font-size: 13px;
    }

    .image-with-title .slider-wrap.first {

        font-size: 24px;
    }

    .margin-0.imghight img {
        margin-left: 0px !important;
    }

    .mt60.dark-bg.vc_row {
        margin-top: -60px !important;
    }

    .vh20.vc_empty_space {
        height: 28vh !important;
    }

    .vh15.vc_empty_space {
        height: 8vh !important;
    }

    .m-1 .vc_column-inner,
    .m-2 .vc_column-inner {
        padding: 30px 20px !important;
    }

    .m-1.vc_row {
        padding: 0 px !important;
        padding-top: 20px !important;
    }

    .m-2.vc_row {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 60px !important;
    }

    .dark-bg .dark-bg {
        padding: 0px !important;
        margin: -30px 0px 0px 0px !important;
    }

    .m-1 h4,
    .m-2 h4 {
        font-size: 20px !important;
    }

    .pac-t0 h4 {
        margin: 25px 0px -20px 0px !important;
    }

    .mpt40.vc_row {
        padding-top: 100px !important;
    }

    .price-table .pricing_price_time {
        left: 33%;
    }

    h2.pricing_price_title {
        font-size: 27px !important;
        padding: 10px;
    }

    .price-table h3 {
        font-size: 25px !important;
    }

    .alignbtn {
        font-size: 17px !important;
    }

    .content-box-rounded {
        Height: 440px !important
    }

    .said .slider-wrap>.ohio-text-sc:nth-child(1) p {
        height: 60px !important
    }

    .right-absolute img {
        right: 77%;
    }

    .tab20 .vc_column-inner {
        padding: 0px 20px !important;
    }

    .tabpls h3 {
        font-size: 30px !important;
    }

    .spacetab .vc_column-inner {
        padding: 0px 30px !important;
    }

    .tab-none.vc_empty_space {
        display: none !important;
    }

    .macpadd.vc_ui {
        padding: 0 8% !important;
    }

    .tabpls.vc_row .space40 .vc_column-inner {
        padding: 40px !important;
    }

    .dark-bg.vc_row {
        margin: 30px 0px !important;
        padding: 30px 0px !important;
    }

    .dark-bg h3 {
        font-size: 30px !important;
    }

    .tabnone.vc_empty_space,
    .tab-none.vc_empty_space {
        display: none !important;
    }

    .fight h4 {
        font-size: 37px !important;
        line-height: 37px !important
    }

    .fight h3 {
        font-size: 40px !important;
        line-height: 42px !important
    }

    .th10 {
        height: 10px !important;
    }

    body .macpadd {
        padding: 0px 25px !important;
    }

    body .page-container:not(.full),
    body .page-container:not(.full) .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 900px;
    }

    .poster .slider-wrap .vc_row {
        height: 788px !important;

    }

    p br,
    h3 br,
    h4 br,
    h2 br,
    h1 br {
        display: none;
    }

    .tab20 .vc_column-inner {
        padding: 0px 20px !important;
    }

    h3 {
        font-size: 30px !important;
    }

    .spacetab .vc_column-inner {
        padding: 0px 30px !important;
    }

    .dark-bg.vc_row {
        margin: 0px 0px !important;
        padding: 30px !important;
    }

    .blog-grid h3 {
        font-size: 20px !important;
    }
}



.hightimg img {
    height: 550px !important;
}

@media screen and (max-width: 782px) {
    .hightimg img {
        height: 250px !important;
    }

}

@media screen and (min-width: 2000px) {

    .mac-ani,
    .mac-ani img {
        width: 700px !important;
        height: auto !important;
    }
}

@media only screen and (min-device-width : 1023px) and (max-device-width : 1024px) {
    .m-10tab.vc_row {
        margin-top: -60px !important;
    }
}

