#ohio-custom-62fceddf22114 .btn {
    border-color: #41b883;
    color: #41b883;
}

#ohio-custom-62fceddf22114 .btn:hover {
    color: #fff;
    background-color: #41b883;
    border-color: #41b883;
}

#ohio-custom-62fceddf22771,
#ohio-custom-62fceddf22771>* {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fceddf227a4,
#ohio-custom-62fceddf227a4>* {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

#ohio-custom-62fceddf22f90 h3 {
    color: #ffffff;
}

#ohio-custom-62fceddf23350,
#ohio-custom-62fceddf23350>* {
    font-size: 34px;
}

#ohio-custom-62fceddf23d95 .btn {
    background-color: #41b883;
    border-color: #41b883;
}

#ohio-custom-62fceddf23d95 .btn:hover {
    border-color: #41b883;
}

#ohio-custom-62fceddf242e0 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf2460c .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf2490b .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf24c43 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf24f53 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf25261 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf2561b .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf2593c .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf25c19 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf26020 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf26388 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf266e9 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddf26c8a,
#ohio-custom-62fceddf26c8a>* {
    color: #0a0a0a;
}

#ohio-custom-62fceddf26ce7 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddf27602 .icon-box-icon {
    color: #d90a2c;
    background-color: #41b883;
}

#ohio-custom-62fceddf2764f,
#ohio-custom-62fceddf2764f>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
    color: #0a0a0a;
}

#ohio-custom-62fceddf27675,
#ohio-custom-62fceddf27675>* {
    color: #0a0a0a;
}

#ohio-custom-62fceddf27a8e .icon-box-icon {
    color: #d90a2c;
    background-color: #41b883;
}

#ohio-custom-62fceddf27ac6,
#ohio-custom-62fceddf27ac6>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
    color: #0a0a0a;
}

#ohio-custom-62fceddf27aea,
#ohio-custom-62fceddf27aea>* {
    color: #0a0a0a;
}

#ohio-custom-62fceddf27f0d .icon-box-icon {
    color: #d90a2c;
    background-color: #41b883;
}

#ohio-custom-62fceddf27f44,
#ohio-custom-62fceddf27f44>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
    color: #0a0a0a;
}

#ohio-custom-62fceddf27f68,
#ohio-custom-62fceddf27f68>* {
    color: #0a0a0a;
}

#ohio-custom-62fceddf2846d .icon-box-icon {
    color: #d90a2c;
    background-color: #41b883;
}

#ohio-custom-62fceddf284a5,
#ohio-custom-62fceddf284a5>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
    color: #0a0a0a;
}

#ohio-custom-62fceddf284c8,
#ohio-custom-62fceddf284c8>* {
    color: #0a0a0a;
}

#ohio-custom-62fceddf2886f .icon-box-icon {
    color: #d90a2c;
    background-color: #41b883;
}

#ohio-custom-62fceddf288a6,
#ohio-custom-62fceddf288a6>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
    color: #0a0a0a;
}

#ohio-custom-62fceddf288ca,
#ohio-custom-62fceddf288ca>* {
    color: #0a0a0a;
}

#ohio-custom-62fceddf28c88 .icon-box-icon {
    color: #d90a2c;
    background-color: #41b883;
}

#ohio-custom-62fceddf28cbe,
#ohio-custom-62fceddf28cbe>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
    color: #0a0a0a;
}

#ohio-custom-62fceddf28ce2,
#ohio-custom-62fceddf28ce2>* {
    color: #0a0a0a;
}

#ohio-custom-62fceddf290e7 h3 {
    font-size: 65px;
}

#ohio-custom-62fceddf291e4 .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fceddf291e4 .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddf291e4 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddf291e4 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddf29391>.clb-slider-outer-stage {
    margin: 0 -5%;
}

#ohio-custom-62fceddf29391>.clb-slider-outer-stage>.clb-slider-stage {
    left: 5%;
}

#ohio-custom-62fceddf29431 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddf29431 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddf29481 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddf29481 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddf294c9 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddf294c9 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddf29510 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddf29510 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddf29555 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddf29555 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddf2959c h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddf2959c p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddf29812,
#ohio-custom-62fceddf29812>* {
    font-size: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fceddf29832 h3 {
    font-size: 41px;
    font-weight: 600;
}

#ohio-custom-62fceddf298da,
#ohio-custom-62fceddf298da>* {
    font-size: 17px;
    line-height: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fceddf29a63 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddf29a93,
#ohio-custom-62fceddf29a93>* {
    font-weight: 500;
}

#ohio-custom-62fceddf2b1a5 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddf2b1dd,
#ohio-custom-62fceddf2b1dd>* {
    font-weight: 500;
}

#ohio-custom-62fceddf2b63d .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddf2b63d .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddf2b63d .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddf2b63d .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddf2bd02 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddf2bd3e,
#ohio-custom-62fceddf2bd3e>* {
    font-weight: 500;
}

#ohio-custom-62fceddf2bfd4 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddf2bfd4 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddf2bfd4 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddf2bfd4 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddf2ca82 h4 {
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

#ohio-custom-62fceddf2ca82 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddf2cbdd>.clb-slider-outer-stage {
    margin: 0 -30px;
}

#ohio-custom-62fceddf2cbdd>.clb-slider-outer-stage>.clb-slider-stage {
    left: 30px;
}

#ohio-custom-62fceddf2cfd1,
#ohio-custom-62fceddf2cfd1>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddf2d019,
#ohio-custom-62fceddf2d019>* {
    color: #ffffff;
}

#ohio-custom-62fceddf2d363,
#ohio-custom-62fceddf2d363>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddf2d3a9,
#ohio-custom-62fceddf2d3a9>* {
    color: #ffffff;
}

#ohio-custom-62fceddf2de64,
#ohio-custom-62fceddf2de64>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddf2deaa,
#ohio-custom-62fceddf2deaa>* {
    color: #ffffff;
}

#ohio-custom-62fceddf2e27b,
#ohio-custom-62fceddf2e27b>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddf2e2c7,
#ohio-custom-62fceddf2e2c7>* {
    color: #ffffff;
}

#ohio-custom-62fceddf2e639,
#ohio-custom-62fceddf2e639>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddf2e67f,
#ohio-custom-62fceddf2e67f>* {
    color: #ffffff;
}

#ohio-custom-62fceddf2e9c4,
#ohio-custom-62fceddf2e9c4>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddf2ea0c,
#ohio-custom-62fceddf2ea0c>* {
    color: #ffffff;
}

#ohio-custom-62fceddf2ed3a,
#ohio-custom-62fceddf2ed3a>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddf2ed95,
#ohio-custom-62fceddf2ed95>* {
    color: #ffffff;
}

#ohio-custom-62fceddf2f0b9,
#ohio-custom-62fceddf2f0b9>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddf2f100,
#ohio-custom-62fceddf2f100>* {
    color: #ffffff;
}

#ohio-custom-62fceddf2f448,
#ohio-custom-62fceddf2f448>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddf2f48e,
#ohio-custom-62fceddf2f48e>* {
    color: #ffffff;
}

#ohio-custom-62fceddf305ae .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fceddf305ae .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddf305ae .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddf305ae .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddf318ea h4 {
    font-size: 56px;
    line-height: 60px;
}

#ohio-custom-62fceddf318ea p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fceddf330c6.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddf330c6.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fceddf330c6.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddf33176.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddf33176.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddf33484 h2 {
    color: #ffffff;
}

#ohio-custom-62fceddf33484 p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fceddf3356f .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddf3356f .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fceddf33748,
#ohio-custom-62fceddf33748>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}

