#ohio-custom-62fcedbe68caf,
#ohio-custom-62fcedbe68caf>* {
    font-size: 25px;
    line-height: 26px;
}

#ohio-custom-62fcedbe68d30,
#ohio-custom-62fcedbe68d30>* {
    font-size: 16px;
    line-height: 17px;
}

#ohio-custom-62fcedbe68fd5,
#ohio-custom-62fcedbe68fd5>* {
    font-size: 25px;
    line-height: 25px;
}

#ohio-custom-62fcedbe69038,
#ohio-custom-62fcedbe69038>* {
    font-size: 16px;
    line-height: 17px;
}

#ohio-custom-62fcedbe6925d,
#ohio-custom-62fcedbe6925d>* {
    font-size: 25px;
    line-height: 25px;
}

#ohio-custom-62fcedbe69290,
#ohio-custom-62fcedbe69290>* {
    line-height: 66px;
}

#ohio-custom-62fcedbe692b9,
#ohio-custom-62fcedbe692b9>* {
    font-size: 16px;
    line-height: 17px;
}

#ohio-custom-62fcedbe6984e,
#ohio-custom-62fcedbe6984e>* {
    font-size: 25px;
    line-height: 26px;
}

#ohio-custom-62fcedbe6a0b3,
#ohio-custom-62fcedbe6a0b3>* {
    font-size: 25px;
    line-height: 25px;
}

#ohio-custom-62fcedbe6a6c6,
#ohio-custom-62fcedbe6a6c6>* {
    font-size: 25px;
    line-height: 25px;
}

#ohio-custom-62fcedbe6ac69,
#ohio-custom-62fcedbe6ac69>* {
    font-weight: 300;
}

#ohio-custom-62fcedbe6acc8,
#ohio-custom-62fcedbe6acc8>* {
    color: #676767;
}

#ohio-custom-62fcedbe6ad88,
#ohio-custom-62fcedbe6ad88>* {
    color: #676767;
}

#ohio-custom-62fcedbe6add9 .btn {
    background-color: #e5514b;
    border-color: #e5514b;
}

#ohio-custom-62fcedbe6add9 .btn:hover {
    border-color: #e5514b;
}

#ohio-custom-62fcedbe6b3d3 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe6b84d .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe6bdac .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe6c2ab .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe6c7ce .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe6cbc3 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe6d0f5 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe6d5b7 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe6dab1,
#ohio-custom-62fcedbe6dab1>* {
    font-weight: 500;
}

#ohio-custom-62fcedbe6df10 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe6e2e2 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe6e6ce .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe6ea41 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe6edfd .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe6f1b4 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe6f627 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe6f9b3 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe6fd81 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe70123 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe704d1 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe7086f .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedbe70d19,
#ohio-custom-62fcedbe70d19>* {
    font-weight: 400;
}

#ohio-custom-62fcedbe70d7d,
#ohio-custom-62fcedbe70d7d>* {
    font-size: 18px;
    font-weight: 400;
    color: #080c15;
}

#ohio-custom-62fcedbe70dde .btn {
    background-color: #fe846f;
    border-color: #fe846f;
}

#ohio-custom-62fcedbe70dde .btn:hover {
    border-color: #fe846f;
}

#ohio-custom-62fcedbe7127b h4 {
    font-size: 32px;
    line-height: 34px;
    color: #000000;
}

#ohio-custom-62fcedbe7127b p.subtitle {
    font-size: 19px;
    line-height: 20px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedbe7127b .subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

#ohio-custom-62fcedbe7157f>.clb-slider-outer-stage {
    margin: 0 -0px;
}

#ohio-custom-62fcedbe7157f>.clb-slider-outer-stage>.clb-slider-stage {
    left: 0px;
}

#ohio-custom-62fcedbe71b13,
#ohio-custom-62fcedbe71b13>* {
    font-weight: 500;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe71b41,
#ohio-custom-62fcedbe71b41>* {
    line-height: 22px;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe720b1,
#ohio-custom-62fcedbe720b1>* {
    font-weight: 500;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe720df,
#ohio-custom-62fcedbe720df>* {
    line-height: 22px;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe725b4,
#ohio-custom-62fcedbe725b4>* {
    font-weight: 500;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe725e1,
#ohio-custom-62fcedbe725e1>* {
    line-height: 22px;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe72afe,
#ohio-custom-62fcedbe72afe>* {
    font-weight: 500;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe72b55,
#ohio-custom-62fcedbe72b55>* {
    line-height: 22px;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe7306f,
#ohio-custom-62fcedbe7306f>* {
    font-weight: 500;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe7309a,
#ohio-custom-62fcedbe7309a>* {
    line-height: 22px;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe73552,
#ohio-custom-62fcedbe73552>* {
    font-weight: 500;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe7357f,
#ohio-custom-62fcedbe7357f>* {
    line-height: 22px;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe73a6c,
#ohio-custom-62fcedbe73a6c>* {
    font-weight: 500;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe73a9a,
#ohio-custom-62fcedbe73a9a>* {
    line-height: 22px;
    color: #0a0a0a;
}

#ohio-custom-62fcedbe74053,
#ohio-custom-62fcedbe74053>* {
    font-weight: 300;
}

#ohio-custom-62fcedbe740ee .tabNav_link {
    font-size: 18px;
    line-height: 44px;
}

#ohio-custom-62fcedbe740ee .tabNav .tabNav_line {
    background-color: #ff0000;
}

#ohio-custom-62fcedbe740ee .tabNav_wrapper {
    border-color: #f7f7f7;
}

#ohio-custom-62fcedbe7f019 h4 {
    font-size: 32px;
    line-height: 34px;
}

#ohio-custom-62fcedbe7f019 p.subtitle {
    font-size: 19px;
    line-height: 20px;
    font-weight: 400;
}

#ohio-custom-62fcedbe7f019 .subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

#ohio-custom-62fcedbe7f189>.clb-slider-outer-stage {
    margin: 0 -5%;
}

#ohio-custom-62fcedbe7f189>.clb-slider-outer-stage>.clb-slider-stage {
    left: 5%;
}

#ohio-custom-62fcedbe7f356,
#ohio-custom-62fcedbe7f356>* {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedbe7f386,
#ohio-custom-62fcedbe7f386>* {
    font-weight: 700;
    color: #ffffff;
}

#ohio-custom-62fcedbe7f5e9 .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedbe7f5e9 .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedbe7f5e9 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe7fc58,
#ohio-custom-62fcedbe7fc58>* {
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedbe7fc87,
#ohio-custom-62fcedbe7fc87>* {
    color: #ffffff;
}

#ohio-custom-62fcedbe7ff1c .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedbe7ff1c .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedbe7ff1c .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe8047f,
#ohio-custom-62fcedbe8047f>* {
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedbe804ae,
#ohio-custom-62fcedbe804ae>* {
    font-weight: 700;
    color: #ffffff;
}

#ohio-custom-62fcedbe8054b .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedbe8054b .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedbe8054b .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe80afe,
#ohio-custom-62fcedbe80afe>* {
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedbe80b2d,
#ohio-custom-62fcedbe80b2d>* {
    color: #ffffff;
}

#ohio-custom-62fcedbe80db9 .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedbe80db9 .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedbe80db9 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe8133f,
#ohio-custom-62fcedbe8133f>* {
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedbe8136d,
#ohio-custom-62fcedbe8136d>* {
    color: #ffffff;
}

#ohio-custom-62fcedbe8140c .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedbe8140c .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedbe8140c .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe81998,
#ohio-custom-62fcedbe81998>* {
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedbe819e1,
#ohio-custom-62fcedbe819e1>* {
    font-weight: 700;
    color: #ffffff;
}

#ohio-custom-62fcedbe81a8d .icon-box-title {
    color: #ffffff;
}

#ohio-custom-62fcedbe81a8d .icon-box-details {
    color: #ffffff;
}

#ohio-custom-62fcedbe81a8d .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedbe82645,
#ohio-custom-62fcedbe82645>* {
    font-weight: 400;
}

#ohio-custom-62fcedbe82e84,
#ohio-custom-62fcedbe82e84>* {
    font-size: 19px;
    font-weight: 500;
}

#ohio-custom-62fcedbe82eb7,
#ohio-custom-62fcedbe82eb7>* {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fcedbe833e5,
#ohio-custom-62fcedbe833e5>* {
    font-weight: 400;
    color: #0a0404;
}

#ohio-custom-62fcedbe83e9a,
#ohio-custom-62fcedbe83e9a>* {
    font-weight: 400;
    color: #0a0404;
}

#ohio-custom-62fcedbe846eb,
#ohio-custom-62fcedbe846eb>* {
    font-weight: 500;
}

#ohio-custom-62fcedbe8473a,
#ohio-custom-62fcedbe8473a>* {
    font-weight: 500;
}

#ohio-custom-62fcedbe84763,
#ohio-custom-62fcedbe84763>* {
    font-weight: 500;
}

#ohio-custom-62fcedbe84a69.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedbe84a69.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fcedbe84a69.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedbe84b2a.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedbe84b2a.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedbe84d35,
#ohio-custom-62fcedbe84d35>* {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedbe84d5b,
#ohio-custom-62fcedbe84d5b>* {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedbe84df2,
#ohio-custom-62fcedbe84df2>* {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcedbe84e13,
#ohio-custom-62fcedbe84e13>* {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedbe84ee1 .btn {
    border-color: #ffffff;
    color: #ffffff;
}

#ohio-custom-62fcedbe84ee1 .btn:hover {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fcedbe84ee1 .btn {
    color: #ffffff;
}

#ohio-custom-62fcedbe84ee1 .btn:hover {
    color: #0a0a0a;
}