#ohio-custom-62fcedcad76bb,
  #ohio-custom-62fcedcad76bb>* {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
  }

  #ohio-custom-62fcedcad76f7,
  #ohio-custom-62fcedcad76f7>* {
      font-size: 20px;
      line-height: 27px;
      font-weight: 500;
  }

  #ohio-custom-62fcedcad7dc2 .client-logo-inner {
      text-align: left;
  }

  #ohio-custom-62fcedcad8178 .client-logo-inner {
      text-align: left;
  }

  #ohio-custom-62fcedcad84ab .client-logo-inner {
      text-align: left;
  }

  #ohio-custom-62fcedcad87ba .client-logo-inner {
      text-align: left;
  }

  #ohio-custom-62fcedcad8c55 .client-logo-inner {
      text-align: left;
  }

  #ohio-custom-62fcedcad8f7a .client-logo-inner {
      text-align: left;
  }

  #ohio-custom-62fcedcad992b h3 {
      color: #ffffff;
  }

  #ohio-custom-62fcedcad9ccc,
  #ohio-custom-62fcedcad9ccc>* {
      font-size: 34px;
  }

  #ohio-custom-62fcedcadaeb8 .btn {
      background-color: #0b1466;
      border-color: #0b1466;
  }

  #ohio-custom-62fcedcadaeb8 .btn:hover {
      border-color: #0b1466;
  }

  #ohio-custom-62fcedcadb396 .btn:hover {
      color: #0a0a0a;
  }

  #ohio-custom-62fcedcadd2a0 .icon-box-icon {
      color: #d90a2c;
      background-color: #0b1466;
  }

  #ohio-custom-62fcedcadd2f5,
  #ohio-custom-62fcedcadd2f5>* {
      font-size: 29px;
  }

  #ohio-custom-62fcedcadd838 .icon-box-icon {
      color: #d90a2c;
      background-color: #0b1466;
  }

  #ohio-custom-62fcedcadd873,
  #ohio-custom-62fcedcadd873>* {
      font-size: 29px;
  }

  #ohio-custom-62fcedcadde4a .icon-box-icon {
      color: #d90a2c;
      background-color: #0b1466;
  }

  #ohio-custom-62fcedcadde85,
  #ohio-custom-62fcedcadde85>* {
      font-size: 29px;
  }

  #ohio-custom-62fcedcadf209 .icon-box-icon {
      color: #d90a2c;
      background-color: #0b1466;
  }

  #ohio-custom-62fcedcadf243,
  #ohio-custom-62fcedcadf243>* {
      font-size: 29px;
  }

  #ohio-custom-62fcedcadf663 .icon-box-icon {
      color: #d90a2c;
      background-color: #0b1466;
  }

  #ohio-custom-62fcedcadf6ae,
  #ohio-custom-62fcedcadf6ae>* {
      font-size: 29px;
  }

  #ohio-custom-62fcedcadfae5 .icon-box-icon {
      color: #d90a2c;
      background-color: #0b1466;
  }

  #ohio-custom-62fcedcadfb1d,
  #ohio-custom-62fcedcadfb1d>* {
      font-size: 29px;
  }

  #ohio-custom-62fcedcae000a h3 {
      font-size: 65px;
  }

  #ohio-custom-62fcedcae0103 .btn {
      border-color: #d90a2c;
      color: #d90a2c;
  }

  #ohio-custom-62fcedcae0103 .btn:hover {
      color: #fff;
      background-color: #d90a2c;
      border-color: #d90a2c;
  }

  #ohio-custom-62fcedcae0103 .btn {
      color: #0a0a0a;
  }

  #ohio-custom-62fcedcae0103 .btn:hover {
      color: #0a0a0a;
  }

  #ohio-custom-62fcedcae02f5>.clb-slider-outer-stage {
      margin: 0 -5%;
  }

  #ohio-custom-62fcedcae02f5>.clb-slider-outer-stage>.clb-slider-stage {
      left: 5%;
  }

  #ohio-custom-62fcedcae0382 h4 {
      font-size: 32px;
      color: #000000;
  }

  #ohio-custom-62fcedcae0382 p.subtitle {
      font-size: 19px;
      font-weight: 400;
      color: #3f3f41;
  }

  #ohio-custom-62fcedcae03d2 h4 {
      font-size: 32px;
      color: #000000;
  }

  #ohio-custom-62fcedcae03d2 p.subtitle {
      font-size: 19px;
      font-weight: 400;
      color: #3f3f41;
  }

  #ohio-custom-62fcedcae041b h4 {
      font-size: 32px;
      color: #000000;
  }

  #ohio-custom-62fcedcae041b p.subtitle {
      font-size: 19px;
      font-weight: 400;
      color: #3f3f41;
  }

  #ohio-custom-62fcedcae0464 h4 {
      font-size: 32px;
      color: #000000;
  }

  #ohio-custom-62fcedcae0464 p.subtitle {
      font-size: 19px;
      font-weight: 400;
      color: #3f3f41;
  }

  #ohio-custom-62fcedcae04aa h4 {
      font-size: 32px;
      color: #000000;
  }

  #ohio-custom-62fcedcae04aa p.subtitle {
      font-size: 19px;
      font-weight: 400;
      color: #3f3f41;
  }

  #ohio-custom-62fcedcae04f4 h4 {
      font-size: 32px;
      color: #000000;
  }

  #ohio-custom-62fcedcae04f4 p.subtitle {
      font-size: 19px;
      font-weight: 400;
      color: #3f3f41;
  }

  #ohio-custom-62fcedcae077b,
  #ohio-custom-62fcedcae077b>* {
      font-size: 21px;
      color: #7A7B7C;
  }

  #ohio-custom-62fcedcae079b h3 {
      font-size: 41px;
      font-weight: 600;
  }

  #ohio-custom-62fcedcae0846,
  #ohio-custom-62fcedcae0846>* {
      font-size: 17px;
      line-height: 21px;
      color: #7A7B7C;
  }

  #ohio-custom-62fcedcae0a05 h5 {
      font-size: 24px;
      font-weight: 600;
  }

  #ohio-custom-62fcedcae196b .btn {
      color: #d90a2c;
  }

  #ohio-custom-62fcedcae196b .btn:hover {
      color: #d90a2c;
  }

  #ohio-custom-62fcedcae196b .btn {
      color: #0a0a0a;
  }

  #ohio-custom-62fcedcae196b .btn:hover {
      color: #0a0a0a;
  }

  #ohio-custom-62fcedcae397f h5 {
      font-size: 24px;
      font-weight: 600;
  }

  #ohio-custom-62fcedcae443d .btn {
      color: #d90a2c;
  }

  #ohio-custom-62fcedcae443d .btn:hover {
      color: #d90a2c;
  }

  #ohio-custom-62fcedcae443d .btn {
      color: #0a0a0a;
  }

  #ohio-custom-62fcedcae443d .btn:hover {
      color: #0a0a0a;
  }

  #ohio-custom-62fcedcae4b43 h5 {
      font-size: 24px;
      font-weight: 600;
  }

  #ohio-custom-62fcedcae74d8 .btn {
      color: #d90a2c;
  }

  #ohio-custom-62fcedcae74d8 .btn:hover {
      color: #d90a2c;
  }

  #ohio-custom-62fcedcae74d8 .btn {
      color: #0a0a0a;
  }

  #ohio-custom-62fcedcae74d8 .btn:hover {
      color: #0a0a0a;
  }

  #ohio-custom-62fcedcae80cf h4 {
      font-size: 65px;
      line-height: 70px;
      color: #000000;
  }

  #ohio-custom-62fcedcae80cf p.subtitle {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #3f3f41;
  }

  #ohio-custom-62fcedcae8240>.clb-slider-outer-stage {
      margin: 0 -30px;
  }

  #ohio-custom-62fcedcae8240>.clb-slider-outer-stage>.clb-slider-stage {
      left: 30px;
  }

  #ohio-custom-62fcedcae869c,
  #ohio-custom-62fcedcae869c>* {
      font-size: 32px;
      line-height: 36px;
      font-weight: 400;
      color: #ffffff;
  }

  #ohio-custom-62fcedcae86e7,
  #ohio-custom-62fcedcae86e7>* {
      color: #ffffff;
  }

  #ohio-custom-62fcedcae8a90,
  #ohio-custom-62fcedcae8a90>* {
      font-size: 32px;
      line-height: 36px;
      font-weight: 400;
      color: #ffffff;
  }

  #ohio-custom-62fcedcae8ad8,
  #ohio-custom-62fcedcae8ad8>* {
      color: #ffffff;
  }

  #ohio-custom-62fcedcae8e50,
  #ohio-custom-62fcedcae8e50>* {
      font-size: 32px;
      line-height: 36px;
      font-weight: 400;
      color: #ffffff;
  }

  #ohio-custom-62fcedcae8e98,
  #ohio-custom-62fcedcae8e98>* {
      color: #ffffff;
  }

  #ohio-custom-62fcedcae9218,
  #ohio-custom-62fcedcae9218>* {
      font-size: 32px;
      line-height: 36px;
      font-weight: 400;
      color: #ffffff;
  }

  #ohio-custom-62fcedcae9260,
  #ohio-custom-62fcedcae9260>* {
      color: #ffffff;
  }

  #ohio-custom-62fcedcae95e9,
  #ohio-custom-62fcedcae95e9>* {
      font-size: 32px;
      line-height: 36px;
      font-weight: 400;
      color: #ffffff;
  }

  #ohio-custom-62fcedcae9631,
  #ohio-custom-62fcedcae9631>* {
      color: #ffffff;
  }

  #ohio-custom-62fcedcae99c4,
  #ohio-custom-62fcedcae99c4>* {
      font-size: 32px;
      line-height: 36px;
      font-weight: 400;
      color: #ffffff;
  }

  #ohio-custom-62fcedcae9a0c,
  #ohio-custom-62fcedcae9a0c>* {
      color: #ffffff;
  }

  #ohio-custom-62fcedcae9d4f,
  #ohio-custom-62fcedcae9d4f>* {
      font-size: 32px;
      line-height: 36px;
      font-weight: 400;
      color: #ffffff;
  }

  #ohio-custom-62fcedcae9daf,
  #ohio-custom-62fcedcae9daf>* {
      color: #ffffff;
  }

  #ohio-custom-62fcedcaea137,
  #ohio-custom-62fcedcaea137>* {
      font-size: 32px;
      line-height: 36px;
      font-weight: 400;
      color: #ffffff;
  }

  #ohio-custom-62fcedcaea196,
  #ohio-custom-62fcedcaea196>* {
      color: #ffffff;
  }

  #ohio-custom-62fcedcaeb4ed,
  #ohio-custom-62fcedcaeb4ed>* {
      font-size: 32px;
      line-height: 36px;
      font-weight: 400;
      color: #ffffff;
  }

  #ohio-custom-62fcedcaeb569,
  #ohio-custom-62fcedcaeb569>* {
      color: #ffffff;
  }

  #ohio-custom-62fcedcaebe34,
  #ohio-custom-62fcedcaebe34>* {
      font-weight: 400;
  }

  #ohio-custom-62fcedcaebed1>.clb-slider-outer-stage {
      margin: 0 -10px;
  }

  #ohio-custom-62fcedcaebed1>.clb-slider-outer-stage>.clb-slider-stage {
      left: 10px;
  }

  #ohio-custom-62fcedcaec32d.video-module .btn-play:before,
  #ohio-custom-62fcedcaec32d.video-module .btn-play .ion {
      background-color: #ffffff;
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaec32d.video-module.with-animation .btn-play:before {
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaec32d.video-module .btn-play .ion {
      color: #ff0000;
  }

  #ohio-custom-62fcedcaec32d.video-module .btn-play:hover .ion {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaec32d.video-module .btn-play:hover:before {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaec32d.video-module:hover .btn-play .ion {
      color: #ffffff !important;
  }

  #ohio-custom-62fcedcaec6e8.video-module .btn-play:before,
  #ohio-custom-62fcedcaec6e8.video-module .btn-play .ion {
      background-color: #ffffff;
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaec6e8.video-module.with-animation .btn-play:before {
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaec6e8.video-module .btn-play .ion {
      color: #ff0000;
  }

  #ohio-custom-62fcedcaec6e8.video-module .btn-play:hover .ion {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaec6e8.video-module .btn-play:hover:before {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaec6e8.video-module:hover .btn-play .ion {
      color: #ffffff !important;
  }

  #ohio-custom-62fcedcaec876.video-module .btn-play:before,
  #ohio-custom-62fcedcaec876.video-module .btn-play .ion {
      background-color: #ffffff;
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaec876.video-module.with-animation .btn-play:before {
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaec876.video-module .btn-play .ion {
      color: #ff0000;
  }

  #ohio-custom-62fcedcaec876.video-module .btn-play:hover .ion {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaec876.video-module .btn-play:hover:before {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaec876.video-module:hover .btn-play .ion {
      color: #ffffff !important;
  }

  #ohio-custom-62fcedcaec9f6.video-module .btn-play:before,
  #ohio-custom-62fcedcaec9f6.video-module .btn-play .ion {
      background-color: #ffffff;
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaec9f6.video-module.with-animation .btn-play:before {
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaec9f6.video-module .btn-play .ion {
      color: #ff0000;
  }

  #ohio-custom-62fcedcaec9f6.video-module .btn-play:hover .ion {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaec9f6.video-module .btn-play:hover:before {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaec9f6.video-module:hover .btn-play .ion {
      color: #ffffff !important;
  }

  #ohio-custom-62fcedcaecb48.video-module .btn-play:before,
  #ohio-custom-62fcedcaecb48.video-module .btn-play .ion {
      background-color: #ffffff;
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaecb48.video-module.with-animation .btn-play:before {
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaecb48.video-module .btn-play .ion {
      color: #ff0000;
  }

  #ohio-custom-62fcedcaecb48.video-module .btn-play:hover .ion {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaecb48.video-module .btn-play:hover:before {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaecb48.video-module:hover .btn-play .ion {
      color: #ffffff !important;
  }

  #ohio-custom-62fcedcaeccc3.video-module .btn-play:before,
  #ohio-custom-62fcedcaeccc3.video-module .btn-play .ion {
      background-color: #ffffff;
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaeccc3.video-module.with-animation .btn-play:before {
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaeccc3.video-module .btn-play .ion {
      color: #ff0000;
  }

  #ohio-custom-62fcedcaeccc3.video-module .btn-play:hover .ion {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaeccc3.video-module .btn-play:hover:before {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaeccc3.video-module:hover .btn-play .ion {
      color: #ffffff !important;
  }

  #ohio-custom-62fcedcaece2f.video-module .btn-play:before,
  #ohio-custom-62fcedcaece2f.video-module .btn-play .ion {
      background-color: #ffffff;
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaece2f.video-module.with-animation .btn-play:before {
      border-color: #ffffff;
  }

  #ohio-custom-62fcedcaece2f.video-module .btn-play .ion {
      color: #ff0000;
  }

  #ohio-custom-62fcedcaece2f.video-module .btn-play:hover .ion {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaece2f.video-module .btn-play:hover:before {
      background: #ff0000 !important;
      border-color: #ff0000 !important;
  }

  #ohio-custom-62fcedcaece2f.video-module:hover .btn-play .ion {
      color: #ffffff !important;
  }

  #ohio-custom-62fcedcaed0ec h4 {
      font-size: 56px;
      line-height: 60px;
  }

  #ohio-custom-62fcedcaed0ec p.subtitle {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
  }

  #ohio-custom-62fcedcaeeca8.counter-box .counter-box-count {
      font-size: 46px;
      color: #ffffff;
  }

  #ohio-custom-62fcedcaeeca8.counter-box .counter-box-icon {
      color: #ffffff;
  }

  #ohio-custom-62fcedcaeeca8.counter-box .counter-box-headline {
      font-size: 17px;
      color: #ffffff;
  }

  #ohio-custom-62fcedcaeed67.counter-box .counter-box-count {
      font-size: 46px;
      color: #ffffff;
  }

  #ohio-custom-62fcedcaeed67.counter-box .counter-box-headline {
      font-size: 17px;
      color: #ffffff;
  }

  #ohio-custom-62fcedcaef771 h2 {
      color: #ffffff;
  }

  #ohio-custom-62fcedcaef771 p.subtitle {
      color: #A4A3A6;
      text-transform: uppercase;
  }

  #ohio-custom-62fcedcaef8cd .btn {
      background-color: #d90a2c;
      border-color: #d90a2c;
  }

  #ohio-custom-62fcedcaef8cd .btn:hover {
      border-color: #d90a2c;
  }

  #ohio-custom-62fcedcaf0928,
  #ohio-custom-62fcedcaf0928>* {
      font-size: 17px;
      line-height: 28px;
      color: #f9f9f9;
  }
#ohio-custom-62fcedc958e2f .icon-box-icon {
    background-color: #FFDAAB !important; 
}

#ohio-custom-62fcedc95a72e .icon-box-icon {
    background-color: #FF5555 !important;
}

#ohio-custom-62fcedc95ace5 .icon-box-icon {
    background-color: #00B1AB !important;
}

#ohio-custom-62fcedc95b3b8 .icon-box-icon {
    background-color: #DFED90 !important;
}

#ohio-custom-62fcedc95b3b82 .icon-box-icon {
    background-color: #DFED90 !important;
}

#ohio-custom-62fcedc95b3b83 .icon-box-icon {
    background-color: #DFED90 !important;
}

#ohio-custom-62fcedc95c73e .icon-box-icon {
    background-color: #d0758a !important;
}

#ohio-custom-62fcedc95c73e2 .icon-box-icon {
    background-color: #d0758a !important;
}

#ohio-custom-62fcedc95c99f .icon-box-icon {
    background-color: #FF9068 !important;
}

#ohio-custom-62fcedc95c99f2 .icon-box-icon {
    background-color: #FF9068 !important;
}