#ohio-custom-62fceddea7134 .btn {
    border-color: #0270b5;
    color: #0270b5;
}

#ohio-custom-62fceddea7134 .btn:hover {
    color: #fff;
    background-color: #0270b5;
    border-color: #0270b5;
}

#ohio-custom-62fceddea7742,
#ohio-custom-62fceddea7742>* {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fceddea7777,
#ohio-custom-62fceddea7777>* {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

#ohio-custom-62fceddea7f83 h3 {
    color: #ffffff;
}

#ohio-custom-62fceddea8329,
#ohio-custom-62fceddea8329>* {
    font-size: 34px;
}

#ohio-custom-62fceddea8dfd .btn {
    background-color: #0270b5;
    border-color: #0270b5;
}

#ohio-custom-62fceddea8dfd .btn:hover {
    border-color: #0270b5;
}

#ohio-custom-62fceddea8dfd .btn {
    color: #ffffff;
}

#ohio-custom-62fceddea8dfd .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddea93b4 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddea96ea .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddea9a48 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddea9d86 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddeaa0e0 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddeaa41b .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddeaa856 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddeaab38 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddeaae6b .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddeab169 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddeab47e .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddeab780 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddeaba8d .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddeac09f .btn {
    border-color: #0270b5;
    color: #0270b5;
}

#ohio-custom-62fceddeac09f .btn:hover {
    color: #fff;
    background-color: #0270b5;
    border-color: #0270b5;
}

#ohio-custom-62fceddeac09f .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddeac09f .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddeac995 .icon-box-icon {
    color: #d90a2c;
    background-color: #0270b5;
}

#ohio-custom-62fceddeac9e2,
#ohio-custom-62fceddeac9e2>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddeace7e .icon-box-icon {
    color: #d90a2c;
    background-color: #0270b5;
}

#ohio-custom-62fceddeaceb8,
#ohio-custom-62fceddeaceb8>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddead308 .icon-box-icon {
    color: #d90a2c;
    background-color: #0270b5;
}

#ohio-custom-62fceddead342,
#ohio-custom-62fceddead342>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddead845 .icon-box-icon {
    color: #d90a2c;
    background-color: #0270b5;
}

#ohio-custom-62fceddead88f,
#ohio-custom-62fceddead88f>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddeadc57 .icon-box-icon {
    color: #d90a2c;
    background-color: #0270b5;
}

#ohio-custom-62fceddeadca5,
#ohio-custom-62fceddeadca5>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddeae076 .icon-box-icon {
    color: #d90a2c;
    background-color: #0270b5;
}

#ohio-custom-62fceddeae0ad,
#ohio-custom-62fceddeae0ad>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fceddeae4e1 h3 {
    font-size: 65px;
}

#ohio-custom-62fceddeae6ab .btn {
    border-color: #0270b5;
    color: #0270b5;
}

#ohio-custom-62fceddeae6ab .btn:hover {
    color: #fff;
    background-color: #0270b5;
    border-color: #0270b5;
}

#ohio-custom-62fceddeae6ab .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddeae6ab .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddeae914 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddeae914 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddeae97b h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddeae97b p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddeae9ca h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddeae9ca p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddeaea11 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddeaea11 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddeaea56 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddeaea56 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddeaea9e h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddeaea9e p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddeaeef3,
#ohio-custom-62fceddeaeef3>* {
    font-size: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fceddeaef13 h3 {
    font-size: 41px;
    font-weight: 600;
}

#ohio-custom-62fceddeaefbb,
#ohio-custom-62fceddeaefbb>* {
    font-size: 17px;
    line-height: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fceddeaf19a h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddeaff79 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddeaff79 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddeaff79 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddeaff79 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddeb0b0c h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddeb1534 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddeb1534 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddeb1534 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddeb1534 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddeb1ccb h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddeb1d18,
#ohio-custom-62fceddeb1d18>* {
    font-weight: 500;
}

#ohio-custom-62fceddeb271a .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddeb271a .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddeb271a .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddeb271a .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddeb32a5 h4 {
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

#ohio-custom-62fceddeb32a5 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddeb342f>.clb-slider-outer-stage {
    margin: 0 -30px;
}

#ohio-custom-62fceddeb342f>.clb-slider-outer-stage>.clb-slider-stage {
    left: 30px;
}

#ohio-custom-62fceddeb389f,
#ohio-custom-62fceddeb389f>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddeb38eb,
#ohio-custom-62fceddeb38eb>* {
    color: #ffffff;
}

#ohio-custom-62fceddeb3cff,
#ohio-custom-62fceddeb3cff>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddeb3d47,
#ohio-custom-62fceddeb3d47>* {
    color: #ffffff;
}

#ohio-custom-62fceddeb410a,
#ohio-custom-62fceddeb410a>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddeb4153,
#ohio-custom-62fceddeb4153>* {
    color: #ffffff;
}

#ohio-custom-62fceddeb452e,
#ohio-custom-62fceddeb452e>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddeb4576,
#ohio-custom-62fceddeb4576>* {
    color: #ffffff;
}

#ohio-custom-62fceddeb494e,
#ohio-custom-62fceddeb494e>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddeb4995,
#ohio-custom-62fceddeb4995>* {
    color: #ffffff;
}

#ohio-custom-62fceddeb4d31,
#ohio-custom-62fceddeb4d31>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddeb4d7f,
#ohio-custom-62fceddeb4d7f>* {
    color: #ffffff;
}

#ohio-custom-62fceddeb5112,
#ohio-custom-62fceddeb5112>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddeb515b,
#ohio-custom-62fceddeb515b>* {
    color: #ffffff;
}

#ohio-custom-62fceddeb54fc,
#ohio-custom-62fceddeb54fc>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddeb5543,
#ohio-custom-62fceddeb5543>* {
    color: #ffffff;
}

#ohio-custom-62fceddeb58db,
#ohio-custom-62fceddeb58db>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddeb592e,
#ohio-custom-62fceddeb592e>* {
    color: #ffffff;
}

#ohio-custom-62fceddeb6bad .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fceddeb6bad .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddeb6bad .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddeb6bad .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddeb6f24,
#ohio-custom-62fceddeb6f24>* {
    font-size: 15px;
}

#ohio-custom-62fceddeb70bd,
#ohio-custom-62fceddeb70bd>* {
    font-size: 15px;
}

#ohio-custom-62fceddeb72a6,
#ohio-custom-62fceddeb72a6>* {
    font-size: 15px;
}

#ohio-custom-62fceddeb7436,
#ohio-custom-62fceddeb7436>* {
    font-size: 15px;
}

#ohio-custom-62fceddeb823d h4 {
    font-size: 56px;
    line-height: 60px;
}

#ohio-custom-62fceddeb823d p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fceddeb9c2f.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddeb9c2f.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fceddeb9c2f.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddeb9d17.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddeb9d17.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddeba040 h2 {
    color: #ffffff;
}

#ohio-custom-62fceddeba040 p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fceddeba176 .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddeba176 .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fceddeba36c,
#ohio-custom-62fceddeba36c>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}

