    #ohio-custom-62fcedcb6bb49,
    #ohio-custom-62fcedcb6bb49>* {
        font-weight: 700;
    }

    #ohio-custom-62fcedcb6bb7e,
    #ohio-custom-62fcedcb6bb7e>* {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    #ohio-custom-62fcedcb6bbf2 .btn {
        font-size: 15px;
    }

    #ohio-custom-62fcedcb6d5a7,
    #ohio-custom-62fcedcb6d5a7>* {
        font-size: 28px;
        font-weight: 700;
    }

    #ohio-custom-62fcedcb6d5e1,
    #ohio-custom-62fcedcb6d5e1>* {
        font-weight: 300;
    }

    #ohio-custom-62fcedcb6f257 .icon-box-title {
        font-size: 28px;
        line-height: 59px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb6f257 .icon-box-details {
        font-size: 17px;
    }

    #ohio-custom-62fcedcb6f257 .icon-box-icon {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb6f62c .icon-box-title {
        font-size: 28px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb6f62c .icon-box-details {
        font-size: 17px;
    }

    #ohio-custom-62fcedcb6f62c .icon-box-icon {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb6faf3 .icon-box-title {
        font-size: 28px;
    }

    #ohio-custom-62fcedcb6faf3 .icon-box-details {
        font-size: 17px;
    }

    #ohio-custom-62fcedcb6faf3 .icon-box-icon {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb6ff3b .icon-box-title {
        font-size: 28px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb6ff3b .icon-box-details {
        font-size: 17px;
        line-height: 22px;
    }

    #ohio-custom-62fcedcb6ff3b .icon-box-icon {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb702c6 .icon-box-title {
        font-size: 28px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb702c6 .icon-box-details {
        font-size: 17px;
    }

    #ohio-custom-62fcedcb702c6 .icon-box-icon {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb7069f .icon-box-title {
        font-size: 28px;
    }

    #ohio-custom-62fcedcb7069f .icon-box-details {
        font-size: 17px;
    }

    #ohio-custom-62fcedcb7069f .icon-box-icon {
        color: #d90a2c;
    }

    #ohio-custom-62fcedcb72bd5,
    #ohio-custom-62fcedcb72bd5>* {
        font-size: 24px;
        line-height: 26px;
    }

    #ohio-custom-62fcedcb73489 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb7392f .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb7502a .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb753c0 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb7574b .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb75ab8 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb75f3b .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb76286 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb765cb .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb768e5 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb76c05 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb76f30 .client-logo-inner {
        text-align: left;
    }

    #ohio-custom-62fcedcb7740b,
    #ohio-custom-62fcedcb7740b>* {
        font-weight: 400;
    }

    #ohio-custom-62fcedcb7746f>.clb-slider-outer-stage {
        margin: 0 -10px;
    }

    #ohio-custom-62fcedcb7746f>.clb-slider-outer-stage>.clb-slider-stage {
        left: 10px;
    }

    #ohio-custom-62fcedcb777a0.video-module .btn-play:before,
    #ohio-custom-62fcedcb777a0.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb777a0.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb777a0.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb777a0.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb777a0.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb777a0.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb77aa2.video-module .btn-play:before,
    #ohio-custom-62fcedcb77aa2.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77aa2.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77aa2.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb77aa2.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77aa2.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77aa2.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb77b8c.video-module .btn-play:before,
    #ohio-custom-62fcedcb77b8c.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77b8c.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77b8c.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb77b8c.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77b8c.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77b8c.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb77c68.video-module .btn-play:before,
    #ohio-custom-62fcedcb77c68.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77c68.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77c68.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb77c68.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77c68.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77c68.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb77d5a.video-module .btn-play:before,
    #ohio-custom-62fcedcb77d5a.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77d5a.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77d5a.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb77d5a.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77d5a.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77d5a.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb77e73.video-module .btn-play:before,
    #ohio-custom-62fcedcb77e73.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77e73.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77e73.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb77e73.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77e73.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77e73.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb77f4e.video-module .btn-play:before,
    #ohio-custom-62fcedcb77f4e.video-module .btn-play .ion {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77f4e.video-module.with-animation .btn-play:before {
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb77f4e.video-module .btn-play .ion {
        color: #ff0000;
    }

    #ohio-custom-62fcedcb77f4e.video-module .btn-play:hover .ion {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77f4e.video-module .btn-play:hover:before {
        background: #ff0000 !important;
        border-color: #ff0000 !important;
    }

    #ohio-custom-62fcedcb77f4e.video-module:hover .btn-play .ion {
        color: #ffffff !important;
    }

    #ohio-custom-62fcedcb793e7,
    #ohio-custom-62fcedcb793e7>* {
        font-size: 21px;
    }

    #ohio-custom-62fcedcb7941a h3 {
        font-size: 41px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb794f9,
    #ohio-custom-62fcedcb794f9>* {
        font-size: 17px;
        line-height: 21px;
    }

    #ohio-custom-62fcedcb796cd h5 {
        font-size: 24px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb79705,
    #ohio-custom-62fcedcb79705>* {
        font-size: 39px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb7a21f .btn {
        font-size: 15px;
        content: "\e068";
          
    }

    #ohio-custom-62fcedcb7b20b,
    #ohio-custom-62fcedcb7b20b>* {
        font-size: 39px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb7bb89 .btn {
        font-size: 15px;
    }

    #ohio-custom-62fcedcb7c320 h5 {
        font-size: 24px;
        font-weight: 600;
    }

    #ohio-custom-62fcedcb7c360,
    #ohio-custom-62fcedcb7c360>* {
        font-size: 39px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb7cd4b .btn {
        font-size: 15px;
    }

    #ohio-custom-62fcedcb7d549 h5 {
        font-size: 24px;
        font-weight: 600;
    }

    #ohio-custom-62fcedcb7d581,
    #ohio-custom-62fcedcb7d581>* {
        font-size: 39px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb7e111 .btn {
        font-size: 15px;
    }

    #ohio-custom-62fcedcb7e8fe,
    #ohio-custom-62fcedcb7e8fe>* {
        font-weight: 500;
    }

    #ohio-custom-62fcedcb7eaae,
    #ohio-custom-62fcedcb7eaae>* {
        font-size: 39px;
        line-height: 40px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb7eafc,
    #ohio-custom-62fcedcb7eafc>* {
        font-size: 25px;
        line-height: 27px;
        font-weight: 400;
    }

    #ohio-custom-62fcedcb7ed24,
    #ohio-custom-62fcedcb7ed24>* {
        font-size: 22px;
        line-height: 24px;
        font-weight: 400;
        color: #52c5d3;
    }

    #ohio-custom-62fcedcb7f193,
    #ohio-custom-62fcedcb7f193>* {
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
    }

    #ohio-custom-62fcedcb7f1bf,
    #ohio-custom-62fcedcb7f1bf>* {
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
    }

    #ohio-custom-62fcedcb7fa5a.counter-box .counter-box-count {
        font-size: 46px;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fa5a.counter-box .counter-box-icon {
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fa5a.counter-box .counter-box-headline {
        font-size: 17px;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fb17.counter-box .counter-box-count {
        font-size: 46px;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fb17.counter-box .counter-box-headline {
        font-size: 17px;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fd0d,
    #ohio-custom-62fcedcb7fd0d>* {
        font-size: 21px;
        font-weight: 500;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fd36,
    #ohio-custom-62fcedcb7fd36>* {
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fdcc,
    #ohio-custom-62fcedcb7fdcc>* {
        font-size: 21px;
        font-weight: 500;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fded,
    #ohio-custom-62fcedcb7fded>* {
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fec6 .btn {
        border-color: #ffffff;
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fec6 .btn:hover {
        color: #fff;
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #ohio-custom-62fcedcb7fec6 .btn {
        color: #ffffff;
    }

    #ohio-custom-62fcedcb7fec6 .btn:hover {
        color: #0a0a0a;
    }
