#ohio-custom-62fcede1d98ab,
#ohio-custom-62fcede1d98ab>* {
    font-weight: 700;
}

#ohio-custom-62fcede1d98e1,
#ohio-custom-62fcede1d98e1>* {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fcede1d995c .btn {
    font-size: 15px;
}

#ohio-custom-62fcede1dc5ef,
#ohio-custom-62fcede1dc5ef>* {
    font-weight: 500;
}

#ohio-custom-62fcede1dc62c,
#ohio-custom-62fcede1dc62c>* {
    font-size: 21px;
}

#ohio-custom-62fcede1dc6a7,
#ohio-custom-62fcede1dc6a7>* {
    font-weight: 500;
}

#ohio-custom-62fcede1dc6ef,
#ohio-custom-62fcede1dc6ef>* {
    font-size: 22px;
}

#ohio-custom-62fcede1dc71d,
#ohio-custom-62fcede1dc71d>* {
    font-size: 22px;
}

#ohio-custom-62fcede1dd426,
#ohio-custom-62fcede1dd426>* {
    font-weight: 500;
}

#ohio-custom-62fcede1dd475,
#ohio-custom-62fcede1dd475>* {
    font-weight: 500;
}

#ohio-custom-62fcede1dd49d,
#ohio-custom-62fcede1dd49d>* {
    font-weight: 500;
}

#ohio-custom-62fcede1dd89d.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcede1dd89d.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fcede1dd89d.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcede1dd954.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcede1dd954.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcede1ddb5e,
#ohio-custom-62fcede1ddb5e>* {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcede1ddb92,
#ohio-custom-62fcede1ddb92>* {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcede1ddc4d,
#ohio-custom-62fcede1ddc4d>* {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fcede1ddc6e,
#ohio-custom-62fcede1ddc6e>* {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcede1ddd62 .btn {
    border-color: #ffffff;
    color: #ffffff;
}

#ohio-custom-62fcede1ddd62 .btn:hover {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fcede1ddd62 .btn {
    color: #ffffff;
}

#ohio-custom-62fcede1ddd62 .btn:hover {
    color: #0a0a0a;
}
