#ohio-custom-62fcedde56497,
#ohio-custom-62fcedde56497>* {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fcedde564d1,
#ohio-custom-62fcedde564d1>* {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

#ohio-custom-62fcedde56c6c h3 {
    color: #ffffff;
}

#ohio-custom-62fcedde5703d,
#ohio-custom-62fcedde5703d>* {
    font-size: 34px;
}

#ohio-custom-62fcedde57c10 .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedde57c10 .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fcedde58213 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde585e7 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde589a7 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde58d7a .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde59122 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde5951f .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde599e3 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde59db4 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde5a145 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde5a4e7 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde5a894 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde5abeb .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedde5b21f .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fcedde5bc48 .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fcedde5bc90,
#ohio-custom-62fcedde5bc90>* {
    font-size: 29px;
}

#ohio-custom-62fcedde5c182 .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fcedde5c1bb,
#ohio-custom-62fcedde5c1bb>* {
    font-size: 29px;
}

#ohio-custom-62fcedde5c69c .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fcedde5c6d6,
#ohio-custom-62fcedde5c6d6>* {
    font-size: 29px;
}

#ohio-custom-62fcedde5cc1f .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fcedde5cc58,
#ohio-custom-62fcedde5cc58>* {
    font-size: 29px;
}

#ohio-custom-62fcedde5d082 .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fcedde5d0cd,
#ohio-custom-62fcedde5d0cd>* {
    font-size: 29px;
}

#ohio-custom-62fcedde5d4c5 .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fcedde5d4fe,
#ohio-custom-62fcedde5d4fe>* {
    font-size: 29px;
}

#ohio-custom-62fcedde5d92d h3 {
    font-size: 65px;
}

#ohio-custom-62fcedde5da22 .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fcedde5da22 .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedde5da22 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcedde5da22 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fcedde5dbdc>.clb-slider-outer-stage {
    margin: 0 -5%;
}

#ohio-custom-62fcedde5dbdc>.clb-slider-outer-stage>.clb-slider-stage {
    left: 5%;
}

#ohio-custom-62fcedde5dc9d h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedde5dc9d p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedde5dcf1 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedde5dcf1 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedde5dd3b h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedde5dd3b p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedde5dd84 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedde5dd84 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedde5ddca h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedde5ddca p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedde5de13 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcedde5de13 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedde5e096,
#ohio-custom-62fcedde5e096>* {
    font-size: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fcedde5e0b7 h3 {
    font-size: 41px;
    font-weight: 600;
}

#ohio-custom-62fcedde5e167,
#ohio-custom-62fcedde5e167>* {
    font-size: 17px;
    line-height: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fcedde5e314 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fcedde5e349,
#ohio-custom-62fcedde5e349>* {
    font-weight: 500;
}

#ohio-custom-62fcedde5ec27 .btn {
    color: #d90a2c;
}

#ohio-custom-62fcedde5ec27 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fcedde5ec27 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcedde5ec27 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcedde5f61b h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fcedde5f657,
#ohio-custom-62fcedde5f657>* {
    font-weight: 500;
}

#ohio-custom-62fcedde5fc60 .btn {
    color: #d90a2c;
}

#ohio-custom-62fcedde5fc60 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fcedde5fc60 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcedde5fc60 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcedde603d1 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fcedde60412,
#ohio-custom-62fcedde60412>* {
    font-weight: 500;
}

#ohio-custom-62fcedde607ee .btn {
    color: #d90a2c;
}

#ohio-custom-62fcedde607ee .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fcedde607ee .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcedde607ee .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcedde610e5 h4 {
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

#ohio-custom-62fcedde610e5 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcedde61267>.clb-slider-outer-stage {
    margin: 0 -30px;
}

#ohio-custom-62fcedde61267>.clb-slider-outer-stage>.clb-slider-stage {
    left: 30px;
}

#ohio-custom-62fcedde61665,
#ohio-custom-62fcedde61665>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedde616af,
#ohio-custom-62fcedde616af>* {
    color: #ffffff;
}

#ohio-custom-62fcedde61a20,
#ohio-custom-62fcedde61a20>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedde61a68,
#ohio-custom-62fcedde61a68>* {
    color: #ffffff;
}

#ohio-custom-62fcedde61db7,
#ohio-custom-62fcedde61db7>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedde61dff,
#ohio-custom-62fcedde61dff>* {
    color: #ffffff;
}

#ohio-custom-62fcedde62193,
#ohio-custom-62fcedde62193>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedde621de,
#ohio-custom-62fcedde621de>* {
    color: #ffffff;
}

#ohio-custom-62fcedde6252a,
#ohio-custom-62fcedde6252a>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedde62582,
#ohio-custom-62fcedde62582>* {
    color: #ffffff;
}

#ohio-custom-62fcedde628b7,
#ohio-custom-62fcedde628b7>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedde628fe,
#ohio-custom-62fcedde628fe>* {
    color: #ffffff;
}

#ohio-custom-62fcedde62c91,
#ohio-custom-62fcedde62c91>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedde62cd8,
#ohio-custom-62fcedde62cd8>* {
    color: #ffffff;
}

#ohio-custom-62fcedde63058,
#ohio-custom-62fcedde63058>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedde6309e,
#ohio-custom-62fcedde6309e>* {
    color: #ffffff;
}

#ohio-custom-62fcedde633f5,
#ohio-custom-62fcedde633f5>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcedde6343b,
#ohio-custom-62fcedde6343b>* {
    color: #ffffff;
}

#ohio-custom-62fcedde645ed .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fcedde645ed .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedde645ed .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcedde645ed .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcedde65a66 h4 {
    font-size: 56px;
    line-height: 60px;
}

#ohio-custom-62fcedde65a66 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fcedde6741e.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedde6741e.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fcedde6741e.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedde67539.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedde67539.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedde67853 h2 {
    color: #ffffff;
}

#ohio-custom-62fcedde67853 p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fcedde6796f .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedde6796f .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fcedde67b7b,
#ohio-custom-62fcedde67b7b>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}

