.vc_custom_1651753671308 {
    padding-top: 0px !important;
}

.vc_custom_1648293610152 {
    margin-top: -60px !important;
    padding-top: 160px !important;
    padding-bottom: 145px !important;
    background-color: #e8f8fd !important;
}

.vc_custom_1648293808063 {
    padding-top: 200px !important;
    background-color: #e8f8fd !important;
}

.vc_custom_1645874096580 {
    padding-top: 130px !important;
}

.vc_custom_1645874897732 {
    padding-top: 160px !important;
}

.vc_custom_1644323277886 {
    padding-top: 0px !important;
}

.vc_custom_1650352630099 {
    margin-top: 83px !important;
    margin-bottom: 60px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
    background-color: #f7f8fa !important;
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1650352597919 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 0px !important;
    padding-left: 30px !important;
    background-color: #f7f8fa !important;
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1650352584141 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    padding-top: 30px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 30px !important;
    background-color: #f7f8fa !important;
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1637154985772 {
    border-top-width: 1px !important;
    border-top-color: #eaedf2 !important;
    border-top-style: solid !important;
}

.vc_custom_1645874096580 {
    padding-top: 130px !important;
}

.vc_custom_1646134019068 {
    padding-bottom: 170px !important;
}

.vc_custom_1644390723186 {
    border-top-width: 1px !important;
    border-top-color: #eaedf2 !important;
    border-top-style: solid !important;
}

.vc_custom_1644992237507 {
    background-image: url(../../asset-3/uploads/2021/11/pexels-sora-shimazaki-5673488.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1637242360836 {
    background: #1c1f22 url(../../asset-3/uploads/2021/11/Mask-Group-15.png) !important;
}

.vc_custom_1649832937991 {
    margin-right: -120px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1650352763643 {
    padding-right: 120px !important;
    padding-left: 120px !important;
    background-color: #186baf !important;
}

.vc_custom_1646987847503 {
    margin-right: 150px !important;
    margin-left: 10px !important;
}

.vc_custom_1646216400572 {
    margin: 0px !important;
    padding: 0px !important;
}

.vc_custom_1645873293915 {
    padding-right: 35% !important;
}

.vc_custom_1645695229946 {
    padding-right: 35% !important;
}

.vc_custom_1645695253110 {
    padding-right: 35% !important;
}

.vc_custom_1645695274827 {
    padding-right: 35% !important;
}

.vc_custom_1645695285876 {
    padding-right: 35% !important;
}

.vc_custom_1645695396401 {
    padding-right: 35% !important;
}

.vc_custom_1645695573421 {
    padding-right: 35% !important;
}

.vc_custom_1645695601406 {
    padding-right: 35% !important;
}

.vc_custom_1645695463405 {
    padding-right: 35% !important;
}

.vc_custom_1645695477872 {
    padding-right: 35% !important;
}

.vc_custom_1644314460063 {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px initial !important;
}

.vc_custom_1646988654688 {
    margin-right: 80px !important;
    margin-left: 10px !important;
}

.vc_custom_1649158805726 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1648731589859 {
    margin-top: 100px !important;
    margin-bottom: -110px !important;
}

.vc_custom_1644382914262 {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px initial !important;
}

.vc_custom_1646988540230 {
    margin-right: 100px !important;
    margin-left: 10px !important;
}

.vc_custom_1649158816588 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646134339199 {
    margin-top: 100px !important;
}

.vc_custom_1646126804767 {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.vc_custom_1646218754286 {
    margin-right: 100px !important;
    margin-left: 10px !important;
}

.vc_custom_1649158826834 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646138547349 {
    margin-top: 110px !important;
}

.vc_custom_1644385402867 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1644385402867 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1650972860151 {
    background-color: #ffffff !important;
}

.vc_custom_1650972847870 {
    margin-right: 30px !important;
    background-color: #ffffff !important;
}

.vc_custom_1646131916533 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646131870536 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646131883901 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646131897536 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646133942717 {
    margin-bottom: 80px !important;
}

.vc_custom_1646132876268 {
    border-bottom-width: 1px !important;
    border-bottom-color: #e5e5e5 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1646132876268 {
    border-bottom-width: 1px !important;
    border-bottom-color: #e5e5e5 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1646132876268 {
    border-bottom-width: 1px !important;
    border-bottom-color: #e5e5e5 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1646133470686 {
    border-bottom-width: 0px !important;
    border-bottom-color: #e5e5e5 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1645617494506 {
    padding-top: 39% !important;
}

.vc_custom_1645877372984 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #ff0000 !important;
}

.vc_custom_1645877483425 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #1a1c1f !important;
}

.icon-box .icon-box-icon img {
    height: 35px;
    width: 77px;
    max-width: 70px !important;
    max-height: 70px !important;
}

.icon-box-icon {
    width: 60px !important;
    height: 62px !important;
    margin: 0px 0px !important;
}


.icon-box-icon-1{
    background-color: #186baf;
    border-radius: 0px;
}

.icon-box .icon-box-icon-1 img {
    height: 79px;
    width: 31px;
    max-width: 70px !important;
    max-height: 70px !important;
}

#single-imgs{
    border-radius: 30px;
}



