.vc_custom_1645443268818 {
    padding-top: 0px !important;
}

.vc_custom_1650974480656 {
    margin-top: -60px !important;
    padding-top: 160px !important;
    padding-bottom: 145px !important;
}

.vc_custom_1650974458564 {
    padding-top: 200px !important;
    background-color: #eee7ef !important;
}

.vc_custom_1645874096580 {
    padding-top: 130px !important;
}

.vc_custom_1645874897732 {
    padding-top: 160px !important;
}

.vc_custom_1650974495472 {
    padding-top: 0px !important;
    padding-bottom: 50px !important;
}

.vc_custom_1646109720427 {
    margin-top: 83px !important;
    margin-bottom: 60px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
    background-color: #f7f8fa !important;
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1646126257202 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 0px !important;
    padding-left: 30px !important;
    background-color: #f7f8fa !important;
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1646126835553 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    padding-top: 30px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 30px !important;
    background-color: #f7f8fa !important;
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1644391416347 {
    border-top-width: 1px !important;
    border-top-color: #eaedf2 !important;
    border-top-style: solid !important;
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1637154985772 {
    border-top-width: 1px !important;
    border-top-color: #eaedf2 !important;
    border-top-style: solid !important;
}

.vc_custom_1645874096580 {
    padding-top: 130px !important;
}

.vc_custom_1646134019068 {
    padding-bottom: 170px !important;
}

.vc_custom_1644390723186 {
    border-top-width: 1px !important;
    border-top-color: #eaedf2 !important;
    border-top-style: solid !important;
}

.vc_custom_1649155111268 {
    background-image: url(../../asset-3/uploads/2022/03/7dd53082059909.5d1237e79bed7_EDITED90a9.png?id=25007) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1637242360836 {
    background: #1c1f22 url(../../asset-3/uploads/2021/11/Mask-Group-15.png) !important;
}

.vc_custom_1649746264256 {
    margin-right: -70px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1649154035446 {
    padding-right: 120px !important;
    padding-left: 120px !important;
    background-color: #5c2d91 !important;
}

.vc_custom_1646213305588 {
    margin-right: 80px !important;
    margin-left: 5px !important;
}

.vc_custom_1646387432838 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1645873293915 {
    padding-right: 35% !important;
}

.vc_custom_1645695229946 {
    padding-right: 35% !important;
}

.vc_custom_1645695253110 {
    padding-right: 35% !important;
}

.vc_custom_1645695274827 {
    padding-right: 35% !important;
}

.vc_custom_1645695285876 {
    padding-right: 35% !important;
}

.vc_custom_1645695396401 {
    padding-right: 35% !important;
}

.vc_custom_1645695573421 {
    padding-right: 35% !important;
}

.vc_custom_1645695601406 {
    padding-right: 35% !important;
}

.vc_custom_1645695463405 {
    padding-right: 35% !important;
}

.vc_custom_1645695477872 {
    padding-right: 35% !important;
}

.vc_custom_1644314460063 {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px initial !important;
}

.vc_custom_1649154517941 {
    margin-top: -42px !important;
}

.vc_custom_1646736671559 {
    margin-right: 0px !important;
    margin-left: 10px !important;
}

.vc_custom_1646383071107 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1649154917165 {
    margin-top: 100px !important;
    margin-bottom: -100px !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.vc_custom_1644382914262 {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px initial !important;
}

.vc_custom_1646736711503 {
    margin-right: 0px !important;
    margin-left: 10px !important;
}

.vc_custom_1646383171168 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646134339199 {
    margin-top: 100px !important;
}

.vc_custom_1646126804767 {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.vc_custom_1646818030668 {
    margin-right: 0px !important;
    margin-left: 10px !important;
}

.vc_custom_1646383328166 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646134392177 {
    margin-top: 110px !important;
}

.vc_custom_1644385402867 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1644385402867 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1650972860151 {
    background-color: #ffffff !important;
}

.vc_custom_1650972847870 {
    margin-right: 30px !important;
    background-color: #ffffff !important;
}

.vc_custom_1646131916533 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646131870536 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646131883901 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646131897536 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646133942717 {
    margin-bottom: 80px !important;
}

.vc_custom_1646744650573 {
    border-bottom-width: 0.6px !important;
    border-bottom-color: #e5e5e5 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1646744661919 {
    border-bottom-width: 0.6px !important;
    border-bottom-color: #e5e5e5 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1646744685761 {
    border-bottom-width: 0px !important;
    border-bottom-color: #e5e5e5 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1645617494506 {
    padding-top: 39% !important;
}

.vc_custom_1645877372984 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #ff0000 !important;
}

.vc_custom_1645877483425 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #1a1c1f !important;
}


.onwhite img,
.onblack img {
    height: 60px !important;
    width: auto !important;
}