#ohio-custom-62fcedccd846e h1 {
    font-size: 96px;
    line-height: 86px;
    font-weight: 700;
}

#ohio-custom-62fcedccd8cb0 h6 {
    color: #555555;
}

#ohio-custom-62fcedccd93fe .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedccd9a07 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedccd9f07 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedccda290 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedccda5cb .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedccda8f0 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcedccdad96,
#ohio-custom-62fcedccdad96>* {
    color: #0a0a0a;
}

#ohio-custom-62fcedccdade7,
#ohio-custom-62fcedccdade7>* {
    color: #0a0a0a;
}

#ohio-custom-62fcedccdae08,
#ohio-custom-62fcedccdae08>* {
    color: #0a0a0a;
}

#ohio-custom-62fcedccdb7b6 .icon-box-title {
    font-size: 30px;
    color: #0a0a0a;
}

#ohio-custom-62fcedccdb7b6 .icon-box-details {
    color: #0a0a0a;
}

#ohio-custom-62fcedccdb7b6 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedccdbbbe .icon-box-title {
    font-size: 30px;
    color: #0a0a0a;
}

#ohio-custom-62fcedccdbbbe .icon-box-details {
    color: #0a0a0a;
}

#ohio-custom-62fcedccdbbbe .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedccdbfee .icon-box-title {
    font-size: 30px;
    color: #0a0a0a;
}

#ohio-custom-62fcedccdbfee .icon-box-details {
    color: #0a0a0a;
}

#ohio-custom-62fcedccdbfee .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcedccdc46b,
#ohio-custom-62fcedccdc46b>* {
    font-weight: 400;
}

#ohio-custom-62fcedccdcaab,
#ohio-custom-62fcedccdcaab>* {
    color: #0a0a0a;
}

#ohio-custom-62fcedccdcae2,
#ohio-custom-62fcedccdcae2>* {
    font-weight: 400;
    color: #0a0a0a;
}

#ohio-custom-62fcedccdcc88.counter-box .counter-box-count {
    color: #0a0a0a;
}

#ohio-custom-62fcedccdccd4,
#ohio-custom-62fcedccdccd4>* {
    color: #0a0a0a;
}

#ohio-custom-62fcedccdcde9.counter-box .counter-box-count {
    color: #0a0a0a;
}

#ohio-custom-62fcedccdce1a,
#ohio-custom-62fcedccdce1a>* {
    color: #0a0a0a;
}

#ohio-custom-62fcedccddc76 .ohio-card-wrapper {
    padding: 1;
}

#ohio-custom-62fcedccddc76 .blog-grid.boxed:not(.blog-grid-type-2) .blog-grid-content {}

#ohio-custom-62fcedccdfe2b .ohio-card-wrapper {
    padding: 3;
}

#ohio-custom-62fcedccdfe2b .blog-grid.boxed:not(.blog-grid-type-2) .blog-grid-content {}

#ohio-custom-62fcedcce324c,
#ohio-custom-62fcedcce324c>* {
    font-weight: 400;
}

#ohio-custom-62fcedcce397c,
#ohio-custom-62fcedcce397c>* {
    font-weight: 500;
    color: #0a0a0a;
}

#ohio-custom-62fcedcce39ad,
#ohio-custom-62fcedcce39ad>* {
    line-height: 20px;
    color: #0a0a0a;
}

#ohio-custom-62fcedcce3a09>.clb-slider-outer-stage {
    margin: 0 -5;
}

#ohio-custom-62fcedcce3a09>.clb-slider-outer-stage>.clb-slider-stage {
    left: 5;
}

#ohio-custom-62fcedcce5408 .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedcce5408 .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fcedcce5408 .btn {
    color: #ffffff;
}

#ohio-custom-62fcedcce5408 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcedcce5d3f.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedcce5d3f.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fcedcce5d3f.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedcce5df1.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcedcce5df1.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcedcce612a h2 {
    color: #ffffff;
}

#ohio-custom-62fcedcce612a p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fcedcce621e .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcedcce621e .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fcedcce646d,
#ohio-custom-62fcedcce646d>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}

