#ohio-custom-62fceddfa6a6c,
#ohio-custom-62fceddfa6a6c>* {
    font-weight: 700;
    color: #0a0a0a;
}

#ohio-custom-62fceddfa6b4a,
#ohio-custom-62fceddfa6b4a>* {
    font-size: 18px;
    line-height: 50px;
    color: #0a0a0a;
}

#ohio-custom-62fceddfa8277,
#ohio-custom-62fceddfa8277>* {
    font-size: 28px;
}

#ohio-custom-62fceddfa82b9,
#ohio-custom-62fceddfa82b9>* {
    font-size: 39px;
    line-height: 40px;
    font-weight: 100;
}

#ohio-custom-62fceddfa89c8 .icon-box-title {
    font-size: 28px;
    font-weight: 500;
}

#ohio-custom-62fceddfa89c8 .icon-box-details {
    font-size: 17px;
    line-height: 22px;
}

#ohio-custom-62fceddfa89c8 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fceddfa8d65 .icon-box-title {
    font-size: 28px;
    font-weight: 500;
}

#ohio-custom-62fceddfa8d65 .icon-box-details {
    font-size: 17px;
    line-height: 22px;
}

#ohio-custom-62fceddfa8d65 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fceddfa9115 .icon-box-title {
    font-size: 28px;
    font-weight: 500;
}

#ohio-custom-62fceddfa9115 .icon-box-details {
    font-size: 17px;
    line-height: 22px;
}

#ohio-custom-62fceddfa9115 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fceddfaa705 .icon-box-title {
    font-size: 28px;
    font-weight: 600;
}

#ohio-custom-62fceddfaa705 .icon-box-details {
    font-size: 17px;
    line-height: 22px;
}

#ohio-custom-62fceddfaa705 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fceddfaab01 .icon-box-title {
    font-size: 28px;
    font-weight: 500;
}

#ohio-custom-62fceddfaab01 .icon-box-details {
    font-size: 17px;
    line-height: 22px;
}

#ohio-custom-62fceddfaab01 .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fceddfab313 h1 {
    font-weight: 400;
}

#ohio-custom-62fceddfab313 p.subtitle {
    font-size: 25px;
    font-weight: 400;
    color: #A6A7AA;
}

#ohio-custom-62fceddfab350,
#ohio-custom-62fceddfab350>* {
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
}

#ohio-custom-62fceddfab4c2,
#ohio-custom-62fceddfab4c2>* {
    font-weight: 300;
}

#ohio-custom-62fceddfab56e,
#ohio-custom-62fceddfab56e>* {
    font-weight: 300;
}

#ohio-custom-62fceddfab645 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfab645 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfab645 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787E;
}

#ohio-custom-62fceddfab645 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfab81c,
#ohio-custom-62fceddfab81c>* {
    font-weight: 300;
}

#ohio-custom-62fceddfab8c7 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfab8c7 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfab8c7 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfab8c7 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfaba37,
#ohio-custom-62fceddfaba37>* {
    font-size: 43px;
    font-weight: 400;
}

#ohio-custom-62fceddfabaf5,
#ohio-custom-62fceddfabaf5>* {
    font-weight: 300;
}

#ohio-custom-62fceddfabb9e .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfabb9e .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfabb9e .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfabb9e .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfabd58,
#ohio-custom-62fceddfabd58>* {
    font-weight: 300;
}

#ohio-custom-62fceddfabe0c .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfabe0c .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfabe0c .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfabe0c .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac06c,
#ohio-custom-62fceddfac06c>* {
    font-weight: 300;
}

#ohio-custom-62fceddfac160 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfac160 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac160 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfac160 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac390,
#ohio-custom-62fceddfac390>* {
    font-weight: 300;
}

#ohio-custom-62fceddfac46d .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfac46d .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac46d .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfac46d .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac67a,
#ohio-custom-62fceddfac67a>* {
    font-weight: 300;
}

#ohio-custom-62fceddfac76b .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfac76b .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac76b .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfac76b .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfac9d2,
#ohio-custom-62fceddfac9d2>* {
    font-weight: 300;
}

#ohio-custom-62fceddfacad7 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfacad7 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfaccbc,
#ohio-custom-62fceddfaccbc>* {
    font-weight: 300;
}

#ohio-custom-62fceddfacdc2 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddfacdc2 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfacdc2 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfacdc2 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfacff2,
#ohio-custom-62fceddfacff2>* {
    font-weight: 300;
}

#ohio-custom-62fceddfad0a4 .btn {
    font-size: 24px;
    font-weight: 400;
    color: #75787e;
}

#ohio-custom-62fceddfad0a4 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddfad5ef.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddfad5ef.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fceddfad5ef.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddfad71a.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddfad71a.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddfad9a0,
#ohio-custom-62fceddfad9a0>* {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fceddfad9e1,
#ohio-custom-62fceddfad9e1>* {
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddfadaf3,
#ohio-custom-62fceddfadaf3>* {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
}

#ohio-custom-62fceddfadb1d,
#ohio-custom-62fceddfadb1d>* {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddfadbd9 .btn {
    border-color: #ffffff;
    color: #ffffff;
}

#ohio-custom-62fceddfadbd9 .btn:hover {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}

#ohio-custom-62fceddfadbd9 .btn {
    color: #ffffff;
}

#ohio-custom-62fceddfadbd9 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcee0284ce9 .btn:hover {
    color: #fff;
    background-color: #ff3e00;
    border-color: #ff3e00;
}

#ohio-custom-62fcee028532d,
#ohio-custom-62fcee028532d>* {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fcee0285375,
#ohio-custom-62fcee0285375>* {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

#ohio-custom-62fcee0285b43 h3 {
    color: #ffffff;
}

#ohio-custom-62fcee0285eed,
#ohio-custom-62fcee0285eed>* {
    font-size: 34px;
}

#ohio-custom-62fcee0286a0f .btn {
    background-color: #ff3e00;
    border-color: #ff3e00;
}

#ohio-custom-62fcee0286a0f .btn:hover {
    border-color: #ff3e00;
}

#ohio-custom-62fcee0287458 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee02878d5 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee0287c91 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee0288059 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee028840e .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee02887da .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee0288c25 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee0288f7d .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee0289273 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee028957a .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee0289a03 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee0289f05 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcee028a53c .btn {
    border-color: #ff3e00;
    color: #ff3e00;
}

#ohio-custom-62fcee028a53c .btn:hover {
    color: #fff;
    background-color: #ff3e00;
    border-color: #ff3e00;
}

#ohio-custom-62fcee028a53c .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fcee028c63d .icon-box-icon {
    color: #d90a2c;
    background-color: #ff3e00;
}

#ohio-custom-62fcee028c6a4,
#ohio-custom-62fcee028c6a4>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcee028cb36 .icon-box-icon {
    color: #d90a2c;
    background-color: #ff3e00;
}

#ohio-custom-62fcee028cb70,
#ohio-custom-62fcee028cb70>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcee028cff1 .icon-box-icon {
    color: #d90a2c;
    background-color: #ff3e00;
}

#ohio-custom-62fcee028d02b,
#ohio-custom-62fcee028d02b>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcee028d58a .icon-box-icon {
    color: #d90a2c;
    background-color: #ff3e00;
}

#ohio-custom-62fcee028d5c4,
#ohio-custom-62fcee028d5c4>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcee028dfac .icon-box-icon {
    color: #d90a2c;
    background-color: #ff3e00;
}

#ohio-custom-62fcee028dfe7,
#ohio-custom-62fcee028dfe7>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcee028e43f .icon-box-icon {
    color: #d90a2c;
    background-color: #ff3e00;
}

#ohio-custom-62fcee028e478,
#ohio-custom-62fcee028e478>* {
    font-size: 29px;
    line-height: 34px;
    font-weight: 400;
}

#ohio-custom-62fcee028e913 h3 {
    font-size: 65px;
}

#ohio-custom-62fcee028ea12 .btn {
    border-color: #ff3e00;
    color: #ff3e00;
}

#ohio-custom-62fcee028ea12 .btn:hover {
    color: #fff;
    background-color: #ff3e00;
    border-color: #ff3e00;
}

#ohio-custom-62fcee028ea12 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcee028ea12 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fcee028ebc3>.clb-slider-outer-stage {
    margin: 0 -5%;
}

#ohio-custom-62fcee028ebc3>.clb-slider-outer-stage>.clb-slider-stage {
    left: 5%;
}

#ohio-custom-62fcee028ec88 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcee028ec88 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcee028ecdb h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcee028ecdb p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcee028ed24 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcee028ed24 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcee028ed6a h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcee028ed6a p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcee028edb0 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcee028edb0 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcee028edf7 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fcee028edf7 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcee028f0ba,
#ohio-custom-62fcee028f0ba>* {
    font-size: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fcee028f0da h3 {
    font-size: 41px;
    font-weight: 600;
}

#ohio-custom-62fcee028f183,
#ohio-custom-62fcee028f183>* {
    font-size: 17px;
    line-height: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fcee028f314 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fcee02903e9 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcee02903e9 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcee029126a h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fcee029221a .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcee029221a .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcee0292bae h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fcee0293d22 .btn {
    color: #d90a2c;
}

#ohio-custom-62fcee0293d22 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fcee0293d22 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcee0293d22 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fcee0294cef h4 {
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

#ohio-custom-62fcee0294cef p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fcee0294e7d>.clb-slider-outer-stage {
    margin: 0 -30px;
}

#ohio-custom-62fcee0294e7d>.clb-slider-outer-stage>.clb-slider-stage {
    left: 30px;
}

#ohio-custom-62fcee029729b,
#ohio-custom-62fcee029729b>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcee02972ea,
#ohio-custom-62fcee02972ea>* {
    color: #ffffff;
}

#ohio-custom-62fcee02976c4,
#ohio-custom-62fcee02976c4>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcee0297719,
#ohio-custom-62fcee0297719>* {
    color: #ffffff;
}

#ohio-custom-62fcee0297a88,
#ohio-custom-62fcee0297a88>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcee0297ad0,
#ohio-custom-62fcee0297ad0>* {
    color: #ffffff;
}

#ohio-custom-62fcee0297e61,
#ohio-custom-62fcee0297e61>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcee0297ea9,
#ohio-custom-62fcee0297ea9>* {
    color: #ffffff;
}

#ohio-custom-62fcee0298210,
#ohio-custom-62fcee0298210>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcee0298258,
#ohio-custom-62fcee0298258>* {
    color: #ffffff;
}

#ohio-custom-62fcee029857d,
#ohio-custom-62fcee029857d>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcee02985c3,
#ohio-custom-62fcee02985c3>* {
    color: #ffffff;
}

#ohio-custom-62fcee0298917,
#ohio-custom-62fcee0298917>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcee0298960,
#ohio-custom-62fcee0298960>* {
    color: #ffffff;
}

#ohio-custom-62fcee0298cd4,
#ohio-custom-62fcee0298cd4>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcee0298d1b,
#ohio-custom-62fcee0298d1b>* {
    color: #ffffff;
}

#ohio-custom-62fcee0299077,
#ohio-custom-62fcee0299077>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fcee02990c3,
#ohio-custom-62fcee02990c3>* {
    color: #ffffff;
}

#ohio-custom-62fcee029a26a .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fcee029a26a .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcee029a26a .btn {
    color: #0a0a0a;
}

#ohio-custom-62fcee029a26a .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fcee029c595 h4 {
    font-size: 56px;
    line-height: 60px;
}

#ohio-custom-62fcee029c595 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fcee029e015.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcee029e015.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fcee029e015.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcee029e0da.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcee029e0da.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcee029e3e4 h2 {
    color: #ffffff;
}

#ohio-custom-62fcee029e3e4 p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fcee029e4d7 .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcee029e4d7 .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fcee029e6ed,
#ohio-custom-62fcee029e6ed>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}