.clb_custom_bg_section:before {
     content: '';
     position: absolute;
     width: 760px;
     height: 760px;
     border-radius: 100%;
     mix-blend-mode: multiply;
     background-color: #D90A2C;
     top: 0px;
     BOTTOM: 0PX;
     right: 0;
     MARGIN: auto;
     left: -22%;
 }

 .vc_tta-color-juicy-pink.vc_tta-style-classic.tabcontc .vc_tta-panel.vc_active .vc_tta-panel-heading {
     border-color: #EFEFEF !important;
     background-color: #F8FDFD !important;
 }

 .vc_tta-color-juicy-pink.vc_tta-style-classic.tabcontc .vc_tta-panel .vc_tta-panel-heading {
     border-color: #EFEFEF !important;
     background-color: WHITE !important;
 }

 .vc_tta-color-juicy-pink.vc_tta-style-classic.tabcontc .vc_tta-panel .vc_tta-panel-body {
     background-color: #f8fdfd !important;
 }

 .vc_tta-color-juicy-pink.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a,
 .vc_tta-color-juicy-pink.vc_tta-style-classic¸.vc_tta-panel.vc_active .vc_tta-panel-heading {
     color: #000 !IMPORTANT;
 }

 .position-full {
     position: absolute;
     right: -175px;
     top: 0%;
 }

 .fullimg figure,
 .fullimg figure .vc_single_image-wrapper,
 .fullimg figure .vc_single_image-wrapper img {
     width: 100%;

 }

 .fill85 .wpb_single_image img {
     width: 70px !important;
     height: 70px !important;
     /* padding: 20px !important; */
 }


 .space-mb.fill85.padding40 h4,
 .space-mb.fill85.padding40 p {
     color: black !important;
 }

 .vc_tta-panel-body p {
     color: black !important;
 }

 .vc_tta-panel-body {
     height: 120px;
     overflow: auto !important;
     background: #f8fdfd !important;
 }

