.wp-container-2>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

.wp-container-2>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

.wp-container-2>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}