#ohio-custom-62fceddc5d6c0,
#ohio-custom-62fceddc5d6c0>* {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fceddc5d714,
#ohio-custom-62fceddc5d714>* {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}

#ohio-custom-62fceddc5de40 h3 {
    color: #ffffff;
}

#ohio-custom-62fceddc5e204,
#ohio-custom-62fceddc5e204>* {
    font-size: 34px;
}

#ohio-custom-62fceddc5ed9a .btn {
    background-color: #5c2d91;
    border-color: #5c2d91;
}

#ohio-custom-62fceddc5ed9a .btn:hover {
    border-color: #5c2d91;
}

#ohio-custom-62fceddc5f3bb .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc5f77d .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc5fb38 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc602be .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc606be .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc60aa8 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc60f0c .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc612d2 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc61677 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc61a40 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc61d65 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc6207f .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fceddc62716 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddc63096 .icon-box-icon {
    color: #d90a2c;
    background-color: #0a0505;
}

#ohio-custom-62fceddc6312a,
#ohio-custom-62fceddc6312a>* {
    font-size: 29px;
}

#ohio-custom-62fceddc635fc .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fceddc63636,
#ohio-custom-62fceddc63636>* {
    font-size: 29px;
}

#ohio-custom-62fceddc63add .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fceddc63b1f,
#ohio-custom-62fceddc63b1f>* {
    font-size: 29px;
}

#ohio-custom-62fceddc640ff .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fceddc6413a,
#ohio-custom-62fceddc6413a>* {
    font-size: 29px;
}

#ohio-custom-62fceddc64568 .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fceddc645a1,
#ohio-custom-62fceddc645a1>* {
    font-size: 29px;
}

#ohio-custom-62fceddc6499e .icon-box-icon {
    color: #d90a2c;
    background-color: #000000;
}

#ohio-custom-62fceddc649d7,
#ohio-custom-62fceddc649d7>* {
    font-size: 29px;
}

#ohio-custom-62fceddc64ea0 h3 {
    font-size: 65px;
}

#ohio-custom-62fceddc64f8c .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddc64f8c .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddc65179>.clb-slider-outer-stage {
    margin: 0 -5%;
}

#ohio-custom-62fceddc65179>.clb-slider-outer-stage>.clb-slider-stage {
    left: 5%;
}

#ohio-custom-62fceddc651fd h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddc651fd p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddc6524c h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddc6524c p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddc65295 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddc65295 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddc652dc h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddc652dc p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddc65322 h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddc65322 p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddc6536a h4 {
    font-size: 32px;
    color: #000000;
}

#ohio-custom-62fceddc6536a p.subtitle {
    font-size: 19px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddc656fe,
#ohio-custom-62fceddc656fe>* {
    font-size: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fceddc6571d h3 {
    font-size: 41px;
    font-weight: 600;
}

#ohio-custom-62fceddc657dc,
#ohio-custom-62fceddc657dc>* {
    font-size: 17px;
    line-height: 21px;
    color: #7A7B7C;
}

#ohio-custom-62fceddc659b2 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddc661b2 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddc661b2 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddc661b2 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddc661b2 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddc66c76 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddc67274 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddc67274 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddc67274 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddc67274 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddc679c2 h5 {
    font-size: 24px;
    font-weight: 600;
}

#ohio-custom-62fceddc684c5 .btn {
    color: #d90a2c;
}

#ohio-custom-62fceddc684c5 .btn:hover {
    color: #d90a2c;
}

#ohio-custom-62fceddc684c5 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddc684c5 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddc68e98,
#ohio-custom-62fceddc68e98>* {
    font-weight: 700;
}

#ohio-custom-62fceddc68eef,
#ohio-custom-62fceddc68eef>* {
    font-size: 21px;
}

#ohio-custom-62fceddc690cc .pricing_title {
    font-size: 31px;
    color: #0a0a0a;
}

#ohio-custom-62fceddc690cc .pricing_subtitle {
    color: #0a0a0a;
}

#ohio-custom-62fceddc690cc .pricing_price .pricing_price_subtitle {
    color: #0a0a0a;
}

#ohio-custom-62fceddc690cc .pricing_price .pricing_price_title {
    font-size: 40px;
    color: #0a0a0a;
}

#ohio-custom-62fceddc690cc .pricing_price .pricing_price_time {
    color: #0a0a0a;
    background-color: #3ddc84;
}

#ohio-custom-62fceddc690cc .pricing_list .pricing_list_item.enabled .title {
    color: #0a0a0a;
}

#ohio-custom-62fceddc690cc .pricing_list .pricing_list_item.disabled .title {
    color: #0a0a0a;
}

#ohio-custom-62fceddc691f9 .pricing_price,
#ohio-custom-62fceddc691f9 .pricing_list li,
#ohio-custom-62fceddc691f9 .pricing_list li:first-child {
    border-color: #0a0a0a;
}

#ohio-custom-62fceddc691f9 .pricing_title {
    font-size: 31px;
    color: #0a0a0a;
}

#ohio-custom-62fceddc691f9 .pricing_subtitle {
    color: #0a0a0a;
}

#ohio-custom-62fceddc691f9 .pricing_price .pricing_price_subtitle {
    color: #0a0a0a;
}

#ohio-custom-62fceddc691f9 .pricing_price .pricing_price_title {
    font-size: 40px;
    color: #0a0a0a;
}

#ohio-custom-62fceddc691f9 .pricing_price .pricing_price_time {
    color: #ffffff;
    background-color: #3ddc84;
}

#ohio-custom-62fceddc691f9 .pricing_list .pricing_list_item.enabled .title {
    color: #0a0a0a;
}

#ohio-custom-62fceddc691f9 .pricing_list .pricing_list_item.disabled .title {
    color: #0a0a0a;
}

#ohio-custom-62fceddc69397 .pricing_title {
    font-size: 30px;
    font-weight: 700;
    color: #0a0a0a;
}

#ohio-custom-62fceddc69397 .pricing_subtitle {
    color: #0a0a0a;
}

#ohio-custom-62fceddc69397 .pricing_price .pricing_price_subtitle {
    color: #0a0a0a;
}

#ohio-custom-62fceddc69397 .pricing_price .pricing_price_title {
    font-size: 40px;
    color: #0a0a0a;
}

#ohio-custom-62fceddc69397 .pricing_price .pricing_price_time {
    font-size: 54px;
    font-weight: 700;
    color: #0a0a0a;
}

#ohio-custom-62fceddc69397 .pricing_list .pricing_list_item.enabled .title {
    color: #0a0a0a;
}

#ohio-custom-62fceddc69397 .pricing_list .pricing_list_item.disabled .title {
    color: #0a0a0a;
}

#ohio-custom-62fceddc695a6,
#ohio-custom-62fceddc695a6>* {
    font-weight: 400;
}

#ohio-custom-62fceddc695e6 .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fceddc695e6 .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddc695e6 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddc695e6 .btn:hover {
    color: #ffffff;
}

#ohio-custom-62fceddc69b07 h4 {
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

#ohio-custom-62fceddc69b07 p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #3f3f41;
}

#ohio-custom-62fceddc69c5a>.clb-slider-outer-stage {
    margin: 0 -30px;
}

#ohio-custom-62fceddc69c5a>.clb-slider-outer-stage>.clb-slider-stage {
    left: 30px;
}

#ohio-custom-62fceddc6a0f8,
#ohio-custom-62fceddc6a0f8>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddc6a140,
#ohio-custom-62fceddc6a140>* {
    color: #ffffff;
}

#ohio-custom-62fceddc6a4ef,
#ohio-custom-62fceddc6a4ef>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddc6a535,
#ohio-custom-62fceddc6a535>* {
    color: #ffffff;
}

#ohio-custom-62fceddc6a8e0,
#ohio-custom-62fceddc6a8e0>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddc6a929,
#ohio-custom-62fceddc6a929>* {
    color: #ffffff;
}

#ohio-custom-62fceddc6acea,
#ohio-custom-62fceddc6acea>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddc6ad30,
#ohio-custom-62fceddc6ad30>* {
    color: #ffffff;
}

#ohio-custom-62fceddc6b07b,
#ohio-custom-62fceddc6b07b>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddc6b0c2,
#ohio-custom-62fceddc6b0c2>* {
    color: #ffffff;
}

#ohio-custom-62fceddc6b3d9,
#ohio-custom-62fceddc6b3d9>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddc6b41f,
#ohio-custom-62fceddc6b41f>* {
    color: #ffffff;
}

#ohio-custom-62fceddc6b751,
#ohio-custom-62fceddc6b751>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddc6b798,
#ohio-custom-62fceddc6b798>* {
    color: #ffffff;
}

#ohio-custom-62fceddc6bb74,
#ohio-custom-62fceddc6bb74>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddc6bbcd,
#ohio-custom-62fceddc6bbcd>* {
    color: #ffffff;
}

#ohio-custom-62fceddc6c00f,
#ohio-custom-62fceddc6c00f>* {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

#ohio-custom-62fceddc6c069,
#ohio-custom-62fceddc6c069>* {
    color: #ffffff;
}

#ohio-custom-62fceddc6d778 .btn {
    border-color: #d90a2c;
    color: #d90a2c;
}

#ohio-custom-62fceddc6d778 .btn:hover {
    color: #fff;
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddc6d778 .btn {
    color: #0a0a0a;
}

#ohio-custom-62fceddc6d778 .btn:hover {
    color: #0a0a0a;
}

#ohio-custom-62fceddc6dc20,
#ohio-custom-62fceddc6dc20>* {
    font-size: 15px;
}

#ohio-custom-62fceddc6dec6,
#ohio-custom-62fceddc6dec6>* {
    font-size: 15px;
}

#ohio-custom-62fceddc6e162,
#ohio-custom-62fceddc6e162>* {
    font-size: 15px;
}

#ohio-custom-62fceddc6f48e h4 {
    font-size: 56px;
    line-height: 60px;
}

#ohio-custom-62fceddc6f48e p.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

#ohio-custom-62fceddc70f0e.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddc70f0e.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fceddc70f0e.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddc71000.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fceddc71000.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fceddc712e3 h2 {
    color: #ffffff;
}

#ohio-custom-62fceddc712e3 p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fceddc71418 .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fceddc71418 .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fceddc71637,
#ohio-custom-62fceddc71637>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}
