.vc_custom_1647338785881 {
    margin-bottom: 0px !important;
}

.vc_custom_1651658160844 {
    padding-top: 0px !important;
    padding-right: 12% !important;
    padding-bottom: 0px !important;
    padding-left: 12% !important;
    border-radius: 5px !important;
}

.vc_custom_1651657106613 {
    padding-top: 0px !important;
    padding-right: 12% !important;
    padding-bottom: 0px !important;
    padding-left: 12% !important;
    border-radius: 5px !important;
}

.vc_custom_1648461758993 {
    background-color: #f7f3f6 !important;
    border-radius: 10px !important;
}

.vc_custom_1644992237507 {
    background-image: url(../../asset-3/uploads/2021/11/pexels-sora-shimazaki-5673488.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1637242360836 {
    background: #1c1f22 url(../../asset-3/uploads/2021/11/Mask-Group-15.png) !important;
}

.vc_custom_1645873293915 {
    padding-right: 35% !important;
}

.vc_custom_1645695573421 {
    padding-right: 35% !important;
}

.vc_custom_1645695601406 {
    padding-right: 35% !important;
}

.vc_custom_1645695463405 {
    padding-right: 35% !important;
}

.vc_custom_1645695477872 {
    padding-right: 35% !important;
}

.vc_custom_1647082785935 {
    padding-top: 171.76px !important;
    padding-right: 171.76px !important;
    padding-bottom: 171.76px !important;
    padding-left: 171.76px !important;
    background-color: #f7f3f6 !important;
}

.vc_custom_1647086384854 {
    padding-top: 171.76px !important;
    padding-right: 171.76px !important;
    padding-bottom: 171.76px !important;
    padding-left: 171.76px !important;
    background-color: #f7f3f6 !important;
}

.vc_custom_1647086405072 {
    background-color: #f7f3f6 !important;
}

.vc_custom_1648201602965 {
    background-color: #f7f3f6 !important;
    border-radius: 10px !important;
}

.vc_custom_1645617494506 {
    padding-top: 39% !important;
}

.vc_custom_1645877372984 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #ff0000 !important;
}

.vc_custom_1645877483425 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #1a1c1f !important;
}

