.vc_custom_1647427220563 {
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    background-color: #ecf2f9 !important;
}

.vc_custom_1647432787925 {
    margin-top: -60px !important;
    padding-top: 160px !important;
    padding-bottom: 145px !important;
}

.vc_custom_1648449366422 {
    padding-top: 200px !important;
    background-color: #ecf2f9 !important;
}

.vc_custom_1645874096580 {
    padding-top: 130px !important;
}

.vc_custom_1645874897732 {
    padding-top: 160px !important;
}

.vc_custom_1644323277886 {
    padding-top: 0px !important;
}

.vc_custom_1647343111825 {
    margin-top: 83px !important;
    margin-bottom: 60px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 0px !important;
    padding-left: 30px !important;
    background-color: #f7f8fa !important;
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1646126257202 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 0px !important;
    padding-left: 30px !important;
    background-color: #f7f8fa !important;
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1647343082264 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 0px !important;
    padding-left: 30px !important;
    background-color: #f7f8fa !important;
    border-radius: 15px !important;
}

.vc_custom_1644382844124 {
    border-radius: 15px !important;
}

.vc_custom_1637154985772 {
    border-top-width: 1px !important;
    border-top-color: #eaedf2 !important;
    border-top-style: solid !important;
}

.vc_custom_1644390723186 {
    border-top-width: 1px !important;
    border-top-color: #eaedf2 !important;
    border-top-style: solid !important;
}

.vc_custom_1647425157754 {
    background-image: url(../../asset-3/uploads/2022/03/Mask-Group-138-2a4d8.png?id=25296) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1637242360836 {
    background: #1c1f22 url(../../asset-3/uploads/2021/11/Mask-Group-15.png) !important;
}

.vc_custom_1647866842499 {
    margin-right: -120px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1645695396401 {
    padding-right: 35% !important;
}

.vc_custom_1645695573421 {
    padding-right: 35% !important;
}

.vc_custom_1645695601406 {
    padding-right: 35% !important;
}

.vc_custom_1645695463405 {
    padding-right: 35% !important;
}

.vc_custom_1645695477872 {
    padding-right: 35% !important;
}

.vc_custom_1648449266307 {
    padding-right: 120px !important;
    padding-left: 120px !important;
    background-color: #ffd1ab !important;
    
}

.vc_custom_1647427103655 {
    margin-top: 0px;
    background-color: #ecf2f9 !important;
}

.vc_custom_1646627694778 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.vc_custom_1646627671917 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646904007729 {
    padding-top: 00px !important;
    padding-right: 00px !important;
    padding-bottom: 00px !important;
    padding-left: 00px !important;
}

.vc_custom_1646376756444 {
    padding-top: 60px !important;
    padding-bottom: 35px !important;
}

.vc_custom_1646729841675 {
    padding-top: 35px !important;
}

.vc_custom_1646376810187 {
    padding-top: 60px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646729998057 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646729932537 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646376821147 {
    padding-top: 60px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646372821773 {
    padding-top: 35px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646376833314 {
    padding-top: 60px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646376853226 {
    padding-top: 60px !important;
    padding-bottom: 35px !important;
}

.vc_custom_1646376861010 {
    padding-top: 60px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646730326887 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1644314460063 {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px initial !important;
}

.vc_custom_1647338081865 {
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.vc_custom_1646283807626 {
    margin-right: 120px !important;
    margin-left: 15px !important;
}

.vc_custom_1646627876686 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1647342906907 {
    margin-bottom: -30px !important;
}

.vc_custom_1647342848509 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646284022206 {
    margin-right: 200px !important;
    margin-left: 5px !important;
}

.vc_custom_1646904418207 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1647426573500 {
    margin-bottom: -90px !important;
}

.vc_custom_1646126804767 {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.vc_custom_1648806251183 {
    margin-right: 0px !important;
    margin-left: 10px !important;
}

.vc_custom_1646903814681 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1647426339434 {
    margin-bottom: -90px !important;
}

.vc_custom_1644385402867 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1650972860151 {
    background-color: #ffffff !important;
}

.vc_custom_1650972847870 {
    margin-right: 30px !important;
    background-color: #ffffff !important;
}

.vc_custom_1645617494506 {
    padding-top: 39% !important;
}

.vc_custom_1647432290978 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #ff0000 !important;
}

.vc_custom_1645877483425 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #1a1c1f !important;
}

