#ohio-custom-62fcede5af16b h3 {
    font-weight: 500;
}

#ohio-custom-62fcede5af16b p.subtitle {
    font-size: 23px;
    line-height: 33px;
    font-weight: 300;
}

#ohio-custom-62fcede5af267,
#ohio-custom-62fcede5af267>* {
    font-weight: 300;
}

#ohio-custom-62fcede5afa7b h3 {
    font-weight: 500;
}

#ohio-custom-62fcede5afa7b p.subtitle {
    font-size: 23px;
    line-height: 24px;
    font-weight: 300;
}

#ohio-custom-62fcede5afd4f,
#ohio-custom-62fcede5afd4f>* {
    font-size: 18px;
    line-height: 33px;
}

#ohio-custom-62fcede5b0269 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcede5b05c6 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcede5b08d3 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcede5b0d9d .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcede5b10e6 .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcede5b141a .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcede5b188f .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcede5b1b8a .client-logo-inner {
    text-align: left;
}

#ohio-custom-62fcede5b1e71,
#ohio-custom-62fcede5b1e71>* {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
}

#ohio-custom-62fcede5b2378,
#ohio-custom-62fcede5b2378>* {
    font-size: 19px;
    font-weight: 500;
}

#ohio-custom-62fcede5b23a7,
#ohio-custom-62fcede5b23a7>* {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fcede5b2450,
#ohio-custom-62fcede5b2450>* {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
}

#ohio-custom-62fcede5b28b9,
#ohio-custom-62fcede5b28b9>* {
    font-size: 19px;
    font-weight: 500;
}

#ohio-custom-62fcede5b28e6,
#ohio-custom-62fcede5b28e6>* {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fcede5b298b,
#ohio-custom-62fcede5b298b>* {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
}

#ohio-custom-62fcede5b2e44,
#ohio-custom-62fcede5b2e44>* {
    font-size: 19px;
    font-weight: 500;
}

#ohio-custom-62fcede5b2e80,
#ohio-custom-62fcede5b2e80>* {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fcede5b2f34,
#ohio-custom-62fcede5b2f34>* {
    font-weight: 400;
}

#ohio-custom-62fcede5b339d,
#ohio-custom-62fcede5b339d>* {
    font-size: 21px;
    font-weight: 500;
}

#ohio-custom-62fcede5b33c9,
#ohio-custom-62fcede5b33c9>* {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

#ohio-custom-62fcede5b36c5 input:not([type='submit']),
#ohio-custom-62fcede5b36c5 textarea,
#ohio-custom-62fcede5b36c5 select {
    color: #0a0a0a;
}

#ohio-custom-62fcede5b36c5 button.btn:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
    color: #0a0a0a !important;
}

#ohio-custom-62fcede5b36c5 [class*=vc_col-lg],
#ohio-custom-62fcede5b36c5 .subscribe-form {
    padding: 10px;
}

#ohio-custom-62fcede5b36c5 form.wpcf7-form,
#ohio-custom-62fcede5b36c5 .subscribe-form .btn {
    margin: -10px;
}

#ohio-custom-62fcede5b4785,
#ohio-custom-62fcede5b4785>* {
    font-weight: 500;
}

#ohio-custom-62fcede5b4829,
#ohio-custom-62fcede5b4829>* {
    color: #676767;
}

#ohio-custom-62fcede5b48df,
#ohio-custom-62fcede5b48df>* {
    font-weight: 500;
}

#ohio-custom-62fcede5b4973,
#ohio-custom-62fcede5b4973>* {
    color: #676767;
}

#ohio-custom-62fcede5b4a4b,
#ohio-custom-62fcede5b4a4b>* {
    font-weight: 500;
}

#ohio-custom-62fcede5b4ad6,
#ohio-custom-62fcede5b4ad6>* {
    color: #676767;
}

#ohio-custom-62fcede5b4fac .icon-box-details {
    color: #505357;
}

#ohio-custom-62fcede5b4fac .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcede5b535f .icon-box-details {
    color: #505357;
}

#ohio-custom-62fcede5b535f .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcede5b572c .icon-box-details {
    color: #505357;
}

#ohio-custom-62fcede5b572c .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcede5b5abf .icon-box-details {
    color: #505357;
}

#ohio-custom-62fcede5b5abf .icon-box-icon {
    color: #d90a2c;
}

#ohio-custom-62fcede5b5e78,
#ohio-custom-62fcede5b5e78>* {
    font-size: 20px;
    font-weight: 600;
}

#ohio-custom-62fcede5b5ea5,
#ohio-custom-62fcede5b5ea5>* {
    font-size: 16px;
    font-weight: 400;
}

#ohio-custom-62fcede5b5f31,
#ohio-custom-62fcede5b5f31>* {
    font-size: 20px;
    font-weight: 600;
}

#ohio-custom-62fcede5b5f59,
#ohio-custom-62fcede5b5f59>* {
    font-size: 16px;
    font-weight: 400;
}

#ohio-custom-62fcede5b5fdf,
#ohio-custom-62fcede5b5fdf>* {
    font-size: 20px;
    font-weight: 600;
}

#ohio-custom-62fcede5b6006,
#ohio-custom-62fcede5b6006>* {
    font-size: 16px;
    font-weight: 400;
}

#ohio-custom-62fcede5b608b,
#ohio-custom-62fcede5b608b>* {
    font-size: 20px;
    font-weight: 600;
}

#ohio-custom-62fcede5b60b2,
#ohio-custom-62fcede5b60b2>* {
    font-size: 16px;
    font-weight: 400;
}

#ohio-custom-62fcede5b621e,
#ohio-custom-62fcede5b621e>* {
    font-size: 20px;
    font-weight: 600;
}

#ohio-custom-62fcede5b6248,
#ohio-custom-62fcede5b6248>* {
    font-size: 16px;
    font-weight: 400;
}

#ohio-custom-62fcede5b62ce,
#ohio-custom-62fcede5b62ce>* {
    font-size: 20px;
    font-weight: 600;
}

#ohio-custom-62fcede5b62f5,
#ohio-custom-62fcede5b62f5>* {
    font-size: 16px;
    font-weight: 400;
}

#ohio-custom-62fcede5b637b,
#ohio-custom-62fcede5b637b>* {
    font-size: 20px;
    font-weight: 600;
}

#ohio-custom-62fcede5b63a2,
#ohio-custom-62fcede5b63a2>* {
    font-size: 16px;
    font-weight: 400;
}

#ohio-custom-62fcede5b6425,
#ohio-custom-62fcede5b6425>* {
    font-size: 20px;
    font-weight: 600;
}

#ohio-custom-62fcede5b644b,
#ohio-custom-62fcede5b644b>* {
    font-size: 16px;
    font-weight: 400;
}

#ohio-custom-62fcede5b65b1,
#ohio-custom-62fcede5b65b1>* {
    font-size: 20px;
    font-weight: 600;
}

#ohio-custom-62fcede5b65db,
#ohio-custom-62fcede5b65db>* {
    font-size: 16px;
    font-weight: 400;
}

#ohio-custom-62fcede5b665f,
#ohio-custom-62fcede5b665f>* {
    font-size: 20px;
    font-weight: 600;
}

#ohio-custom-62fcede5b6687,
#ohio-custom-62fcede5b6687>* {
    font-size: 16px;
    font-weight: 400;
}

#ohio-custom-62fcede5b6b04.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcede5b6b04.counter-box .counter-box-icon {
    color: #ffffff;
}

#ohio-custom-62fcede5b6b04.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcede5b6bcf.counter-box .counter-box-count {
    font-size: 46px;
    color: #ffffff;
}

#ohio-custom-62fcede5b6bcf.counter-box .counter-box-headline {
    font-size: 17px;
    color: #ffffff;
}

#ohio-custom-62fcede5b6ee0 h2 {
    color: #ffffff;
}

#ohio-custom-62fcede5b6ee0 p.subtitle {
    color: #A4A3A6;
    text-transform: uppercase;
}

#ohio-custom-62fcede5b6fe1 .btn {
    background-color: #d90a2c;
    border-color: #d90a2c;
}

#ohio-custom-62fcede5b6fe1 .btn:hover {
    border-color: #d90a2c;
}

#ohio-custom-62fcede5b7221,
#ohio-custom-62fcede5b7221>* {
    font-size: 17px;
    line-height: 28px;
    color: #f9f9f9;
}