.vc_custom_1646044668416 {
    padding-top: 325px !important;
    padding-bottom: 180px !important;
}

.vc_custom_1651665349902 {
    border-bottom-width: 0px !important;
    padding-bottom: 0px !important;
    border-bottom-color: #ced1d6 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1651665340373 {
    border-bottom-width: 1px !important;
    padding-bottom: 0px !important;
    border-bottom-color: #ced1d6 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1651665329559 {
    border-bottom-width: 0px !important;
    padding-bottom: 0px !important;
    border-bottom-color: #ced1d6 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1651665329559 {
    border-bottom-width: 0px !important;
    padding-bottom: 0px !important;
    border-bottom-color: #ced1d6 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1646822192708 {
    border-bottom-width: 0px !important;
    padding-bottom: 0px !important;
    border-bottom-color: #ced1d6 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1648284765590 {
    border-bottom-width: 0px !important;
    padding-bottom: 0px !important;
    border-bottom-color: #ced1d6 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1646822181299 {
    border-bottom-width: 0px !important;
    padding-bottom: 0px !important;
    border-bottom-color: #ced1d6 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1651056952757 {
    border-bottom-width: 0px !important;
    padding-bottom: 0px !important;
    border-bottom-color: #ced1d6 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1646822164946 {
    border-bottom-width: 0px !important;
    padding-bottom: 0px !important;
    border-bottom-color: #ced1d6 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1646822150915 {
    border-bottom-width: 0px !important;
    padding-bottom: 200px !important;
    border-bottom-color: #ced1d6 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1645094401641 {
    background-image: url(../../asset-3/uploads/2021/11/ft_bannerf958.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1644474593932 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    background-color: #1c1f22 !important;
}

.vc_custom_1645772817378 {
    padding-top: 300px !important;
    padding-right: 20px !important;
    padding-bottom: 350px !important;
    padding-left: 20px !important;
}

.vc_custom_1645091475151 {
    padding-bottom: 50px !important;
}

.vc_custom_1645773157592 {
    margin-top: -220px !important;
}

.vc_custom_1644294487398 {
    padding-top: 100px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1645092401660 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.vc_custom_1645176150134 {
    background-image: url(../../asset-3/uploads/2022/02/careear-2.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1646045069744 {
    padding-bottom: 0px !important;
}

.vc_custom_1646044949449 {
    padding-bottom: 0px !important;
}

.vc_custom_1646044949449 {
    padding-bottom: 0px !important;
}

.vc_custom_1646045069744 {
    padding-bottom: 0px !important;
}

.vc_custom_1646045078520 {
    padding-bottom: 0px !important;
}

.vc_custom_1646045093199 {
    padding-bottom: 0px !important;
}

.vc_custom_1646045281565 {
    padding-bottom: 0px !important;
}

.vc_custom_1646045215014 {
    padding-bottom: 0px !important;
}

.vc_custom_1646045281565 {
    padding-bottom: 0px !important;
}

.vc_custom_1645610096370 {
    padding-top: 39% !important;
}

.vc_custom_1646045468712 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #ff0000 !important;
}

.vc_custom_1646045478448 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #1a1c1f !important;
}
