.vc_custom_1654068130481 {
    border-bottom-width: 1px !important;
    padding-top: 0px !important;
    border-bottom-color: #eaedf2 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1650604985695 {
    padding-top: 22% !important;
    padding-bottom: 22% !important;
}

.vc_custom_1645768641810 {
    padding-top: 0px !important;
    background-image: url(../../asset-3/uploads/2022/02/Bg.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1650024293858 {
    padding-top: 120px !important;
    background-color: #fafcfd !important;
}

.vc_custom_1644474593932 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    background-color: #1c1f22 !important;
}

.vc_custom_1651816879366 {
    padding-top: 230px !important;
    padding-bottom: 140px !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1653655764174 {
    background-image: url(../../asset-3/uploads/2022/05/Group-13704.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1653655772043 {
    background-image: url(../../asset-3/uploads/2022/05/Group-13700.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1649669174012 {
    padding-top: 230px !important;
    padding-bottom: 140px !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1653655764174 {
    background-image: url(../../asset-3/uploads/2022/05/Group-13704.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1653655772043 {
    background-image: url(../../asset-3/uploads/2022/05/Group-13700.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1649823774534 {
    padding-top: 230px !important;
    padding-bottom: 140px !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1653655764174 {
    background-image: url(../../asset-3/uploads/2022/05/Group-13704.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1653655772043 {
    background-image: url(../../asset-3/uploads/2022/05/Group-13700.svg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1654068068845 {
    border-bottom-width: 1px !important;
    padding-top: 00px !important;
    border-bottom-color: #eaedf2 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1651816879366 {
    padding-top: 230px !important;
    padding-bottom: 140px !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1649669174012 {
    padding-top: 230px !important;
    padding-bottom: 140px !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1649823774534 {
    padding-top: 230px !important;
    padding-bottom: 140px !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.vc_custom_1650522775459 {
    padding-bottom: 100px !important;
}

.vc_custom_1650522793419 {
    padding-bottom: 100px !important;
}

.vc_custom_1650522810396 {
    padding-bottom: 100px !important;
}

.vc_custom_1650522829602 {
    padding-bottom: 100px !important;
}

.vc_custom_1650605043129 {
    margin-top: -60px !important;
    border-bottom-width: 15px !important;
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    border-bottom-color: #f7be8e !important;
    border-bottom-style: solid !important;
}

.vc_custom_1650519266794 {
    border-bottom-width: 15px !important;
    border-bottom-color: #ac96f7 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1650519333906 {
    margin-top: -60px !important;
    border-bottom-width: 15px !important;
    border-bottom-color: #7ed1e2 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1650519367721 {
    border-bottom-width: 15px !important;
    border-bottom-color: #f7b988 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1650522038988 {
    margin-top: -60px !important;
    border-bottom-width: 15px !important;
    border-bottom-color: #8ac670 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1650522060523 {
    border-bottom-width: 15px !important;
    border-bottom-color: #ac96f7 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1650522085164 {
    margin-top: -60px !important;
    border-bottom-width: 15px !important;
    border-bottom-color: #edbfb5 !important;
    border-bottom-style: solid !important;
}

.vc_custom_1650522101971 {
    border-bottom-width: 15px !important;
    border-bottom-color: #4aa8da !important;
    border-bottom-style: solid !important;
}

.vc_custom_1645695216254 {
    padding-right: 35% !important;
}

.vc_custom_1645695229946 {
    padding-right: 35% !important;
}

.vc_custom_1645695253110 {
    padding-right: 35% !important;
}

.vc_custom_1645695274827 {
    padding-right: 35% !important;
}

.vc_custom_1645695285876 {
    padding-right: 35% !important;
}

.vc_custom_1645695396401 {
    padding-right: 35% !important;
}

.vc_custom_1645695573421 {
    padding-right: 35% !important;
}

.vc_custom_1645695601406 {
    padding-right: 35% !important;
}

.vc_custom_1645695463405 {
    padding-right: 35% !important;
}

.vc_custom_1645695477872 {
    padding-right: 35% !important;
}

.vc_custom_1645781269629 {
    background-image: url(../../asset-3/uploads/2022/02/Bg-1.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1645793753285 {
    padding-top: 100px !important;
    padding-bottom: 90px !important;
}

.vc_custom_1650348452930 {
    padding-top: 00px !important;
}

.vc_custom_1645769489988 {
    margin-right: 15px !important;
    margin-left: 15px !important;
    background-color: #ffeeea !important;
    border-radius: 10px !important;
}

.vc_custom_1646373795489 {
    padding: 35px !important;
    background-color: #ffeeea !important;
    border-radius: 10px !important;
}

.vc_custom_1645769459244 {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.vc_custom_1646373867169 {
    padding: 35px !important;
    background-color: #e6fbff !important;
    border-radius: 10px !important;
}

.vc_custom_1645770135092 {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.vc_custom_1646373971479 {
    padding: 35px !important;
    background-color: #f4f4ff !important;
    border-radius: 10px !important;
}

.vc_custom_1645770135092 {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.vc_custom_1646374350914 {
    padding-top: 35px !important;
    padding-right: 35px !important;
    padding-bottom: 35px !important;
    padding-left: 35px !important;
    background-color: #f0fff7 !important;
    border-radius: 10px !important;
}

.vc_custom_1645770135092 {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.vc_custom_1646374334242 {
    padding-top: 35px !important;
    padding-right: 35px !important;
    padding-bottom: 35px !important;
    padding-left: 35px !important;
    background-color: #fef8ff !important;
    border-radius: 10px !important;
}

.vc_custom_1645770135092 {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.vc_custom_1646374316466 {
    padding-top: 35px !important;
    padding-right: 35px !important;
    padding-bottom: 35px !important;
    padding-left: 35px !important;
    background-color: #eaedf2 !important;
    border-radius: 10px !important;
}

.vc_custom_1645770135092 {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.vc_custom_1646374286243 {
    padding-top: 35px !important;
    padding-right: 35px !important;
    padding-bottom: 35px !important;
    padding-left: 35px !important;
    background-color: #ffeaef !important;
    border-radius: 10px !important;
}

.vc_custom_1646376756444 {
    padding-top: 60px !important;
    padding-bottom: 35px !important;
}

.vc_custom_1646729841675 {
    padding-top: 35px !important;
}

.vc_custom_1646376810187 {
    padding-top: 60px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646729998057 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646729932537 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1646376821147 {
    padding-top: 60px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646372821773 {
    padding-top: 35px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646376833314 {
    padding-top: 60px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646376853226 {
    padding-top: 60px !important;
    padding-bottom: 35px !important;
}

.vc_custom_1646376861010 {
    padding-top: 60px !important;
    padding-bottom: 30px !important;
}

.vc_custom_1646730326887 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1645187521498 {
    margin-bottom: 75px !important;
}

.vc_custom_1649652633449 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #70b920 !important;
    border-radius: 5px !important;
}

.vc_custom_1649654111835 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #080b0c !important;
    border-radius: 5px !important;
}

.vc_custom_1649652353242 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #beab7e !important;
    border-radius: 5px !important;
}

.vc_custom_1649653766254 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #e7476e !important;
    border-radius: 5px !important;
}

.vc_custom_1649654229477 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #1a255f !important;
    border-radius: 5px !important;
}

.vc_custom_1649652571349 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 50px !important;
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #57a31b !important;
    border-radius: 5px !important;
}

.vc_custom_1650452730339 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1645612033167 {
    padding-top: 39% !important;
}

.vc_custom_1645784133518 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #ff0000 !important;
}

.vc_custom_1645784140156 {
    padding-top: 12.3% !important;
    padding-right: 40px !important;
    padding-bottom: 12.3% !important;
    padding-left: 40px !important;
    background-color: #1a1c1f !important;
}

.onwhite img,
.onblack img {
    height: 98px !important;
    width: auto !important;
}

#animated-line-1 {
    position: absolute;
    width: 215px;
    height: 2px;
    background: #FF5555;
    margin-top: 3px;
}
 #animated-line-2 {
    position: absolute;
    width:172px;
    height: 2px;
    background: #FF5555;
    margin-top: 3px;
}


#animated-line-3 {
    position: absolute;
    width: 240px;
    height: 2px;
    background: #FF5555;
    margin-top: 3px;
}

#nav-menu-item-27036-62fcedd35646e {
    width: 34% !important;
}

 #nav-menu-item-24759-62fcedd356589 {
    width: 28% !important;
}

.arrow-nav {
    margin-right: 10px;
    margin-bottom: -5px;
}

.vc_custom_1650522038988{
    
        transition: all .3s ease-out;
}
.vc_custom_1650522038988:hover{
    transform: translate(0, -35px);
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.096);
}

.vc_custom_1650605043129{
    transition: all .3s ease-out;
}
.vc_custom_1650605043129:hover {
    transform: translate(0, -35px);
        box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.096);
}

.vc_custom_1650519266794{
    transition: all .3s ease-out;
}
.vc_custom_1650519266794:hover {
    transform: translate(0, -35px);
        box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.096);
}

.vc_custom_1650519333906{
        transition: all .3s ease-out;
}
.vc_custom_1650519333906:hover {
    transform: translate(0, -35px);
        box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.096);
}

.vc_custom_1650519367721{
            transition: all .3s ease-out;
}
.vc_custom_1650519367721:hover {
    transform: translate(0, -35px);
        box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.096);
}

.vc_custom_1650522060523{
    transition: all .3s ease-out;
}
.vc_custom_1650522060523:hover {
    transform: translate(0, -35px);
        box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.096);
}


.vc_custom_1650522085164{
        transition: all .3s ease-out;
}
.vc_custom_1650522085164:hover {
    transform: translate(0, -35px);
        box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.096);
}

.vc_custom_1650522101971{
            transition: all .3s ease-out;
}
.vc_custom_1650522101971:hover {
    transform: translate(0, -35px);
        box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.096);
}

#img-1{
    padding-left: 0%;
    margin-left: -105px;
}
#img-2 {
    padding-left: 0%;
    margin-left: -105px;
}

